* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(255, 255, 255);
}

nav {
	position: -webkit-sticky;
  	position: sticky;
	top : 0;
	z-index: 5;
	background-color: #306191;
}

nav .logo {
	width: 2em;
	border-radius: 50%;
}

.nav-item-wrapper {
	margin: 0;
	display: flex;
	align-items: stretch;
	align-self: stretch;
}

.nav-item {
	list-style-type: none;
	display: flex;
	align-items: stretch;
}

.nav-item:hover {
	background-color: #F2C230;
}

.nav-item.active {
	background-color: #F2C230;
	color: white;
}

.nav-item .nav-link {
	text-decoration: none;
	color: white;
	padding: 0 1em;
	display: flex;
	align-items: center;
}

.nav-item:hover .nav-link {
	color: black;
}

.nav-item.active .nav-link {
	color: black;
}

a {
	text-decoration: none;
}

.btn-primary {
	background-color: #306191;
	border-color: #306191;
}

.btn-primary:hover {
	background-color: #2d5175;
	border-color: #2d5175;
}