* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(255, 255, 255);
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

nav {
	position: -webkit-sticky;
  position: sticky;	
	top : 0;
	z-index: 5;
	background-color: #306191;
}



nav .logo {
	width: 1.6em;
	border-radius: 50%;
}

.nav-item .nav-link {
	text-decoration: none;
	color: white;
  font-size: 0.9em;
	font-weight: 500;
	opacity: 0.6;
}

.nav-item .nav-link:hover {
	opacity: 1;
}

.nav-item.active .nav-link {
	font-weight: bolder;
	opacity: 1;
}

a {
	text-decoration: none;
}

.btn-primary {
	background-color: #306191;
	border-color: #306191;
}

.btn-primary:hover {
	background-color: #2d5175;
	border-color: #2d5175;
}

.btn-primary:focus {
	background-color: #2d5175;
	border-color: #2d5175;
}

.btn-outline-orange {
	background-color: white;
	color: orange;
	border-color: orange;
}

.btn-outline-orange:hover {
	background-color: orange;
}

.bg-orangered {
	background-color: orangered;
}

.bg-darkgoldenrod {
	background-color: darkgoldenrod;
}

.bg-khaki {
	background-color: khaki;
}

.font-xs {
  font-size: 0.8em;
}

.font-sm {
  font-size: 0.9em;
}

.font-md {
  font-size: 1em;
}

.font-lg {
  font-size: 1.2em;
}

.font-xl {
  font-size: 1.4em;
}

.font-xxl {
  font-size: 1.6em;
}

.font-xxxl {
  font-size: 1.8em;
}

.hide-scroll {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.hide-scroll::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
/*Dialog Box */

/*Dialog Box*/
.modal-confirm {
  background-color: rgba(0, 0, 0, 0.2);
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #50a323;
}
.notice-success label {
    color: #50a323;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info label {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning label {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger label {
    color: #d73814;
}