<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="/src/main/resources/css/studentstyle.css" rel="stylesheet"/>  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</head>
<body>
<div class="container mt-3">
  <form>
  <div class="row mb-4">
        <div class="col-md-2"></div>
            <label for="usercode" class="col-md-2 col-form-label">Code</label>
            <div class="col-md-4">
    <input type="text" class="form-input-control form-control-lg" placeholder="User Code">
    </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-2"></div>
            <label for="username" class="col-md-2 col-form-label">Name</label>
            <div class="col-md-4">
    <input type="text" class="form-input-control form-control-lg" placeholder="User Name">
    </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-2"></div>
            <label for="userEmail" class="col-md-2 col-form-label">Email</label>
            <div class="col-md-4">
    <input type="text" class="form-input-control form-control-lg" placeholder="mgmg@gmail.com">
    </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-2"></div>
            <label for="userPhone" class="col-md-2 col-form-label">Phone</label>
            <div class="col-md-4">
            <input type="text" class="form-input-control form-control-lg" placeholder="+95">
            </div>
            </div>
             <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="userGender" class="col-md-2 col-form-label">Gender</label>
                <div class="col-md-4">
                    <input type="radio">Male
                    <input type="radio" />  Female
                    <input type="radio" /> Others
                </div>
                </div>
            <div class="row mb-4">
        <div class="col-md-2"></div>
            <label for="password" class="col-md-2 col-form-label">Password</label>
            <div class="col-md-4">
            <input type="password" class="form-input-control form-control-lg">
            </div>
            </div>
            <div class="row mb-4">
        <div class="col-md-2"></div>
            <label for="confirmedPassword" class="col-md-2 col-form-label">Confirmed Password</label>
            <div class="col-md-4">
            <input type="password" class="form-input-control form-control-lg">
            </div>
            </div>
            <div class="row mb-4">
        <div class="col-md-2"></div>
            <label for="userRole" class="col-md-2 col-form-label">Role</label>
            <div class="col-md-4">
            <select class="form-select-control">
            <option>Admin</option>
            <option>User</option>
            <option value="GM">GeneralManager</option>
            <option value="DH">DepartmentHead</option>
            <option value="PM">ProjectManager</option>
            <option value="HR">HiringManager</option>
            </select>
            </div>
            </div>
            <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="address" class="col-md-2 col-form-label">Address</label>
            <div class="col-md-4">
                <textarea class="form-control" id="address" rows="3"></textarea>
            </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-4"></div>
    
                <div class="col-md-4">
                    <button class="btn btn-info"><a style="text-decoration:none" class="text-white" th:href="@{/admin/user/search}">Back</a></button>
                    <input type="reset" class="btn btn-danger " value="Reset">
    
                        
                    
                    <input type="submit" class="btn btn-success col-md-2" value="ADD">
                        
                    
                    </div>
                    </div>
            
  </form>
</div>

</body>
</html>