<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/validate.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/style.css}" />
    <link rel="stylesheet" th:href="@{/resources/fontawesome/css/all.css}">
</head>
<body>
    <div th:replace="nav-bar :: navbar('users')"></div>
    <main class="container p-4">
        <div class="row">
            <div class="card shadow-lg offset-md-1 offset-xl-2 col-12 col-md-10 col-xl-8">
                <form id="userForm" th:action="@{/user/save}" method="post" class="row card-body" th:object="${user}">
                    <div class="card-title col-12 fs-5 fw-bold">
                        Add New User
                    </div>
                    <input type="hidden" th:field="*{id}">
                    <div class="col-12 col-lg-6 form-group my-2">
                        <label for="code" class="form-label">Code</label>
                        <input id="code" type="text" class="form-control" th:field="*{code}">
                        <label th:if="${#fields.hasErrors('code')}"  th:text="${#fields.errors('code')[__0__]}" class="text-danger"></label>
                    </div>
                    <div class="col-12 col-lg-6 form-group my-2">
                        <label for="name" class="form-label">Name</label>
                        <input id="name" type="text" class="form-control" th:field="*{name}">
                        <label th:if="${#fields.hasErrors('name')}"  th:text="${#fields.errors('name')[__0__]}" class="text-danger"></label>
                    </div>
                    <div class="col-12 col-lg-6 form-group my-2">
                        <label for="email" class="form-label">Email</label>
                        <input id="email" type="text" class="form-control" th:field="*{email}">
                        <label th:if="${#fields.hasErrors('email')}"  th:text="${#fields.errors('email')[__0__]}" class="text-danger"></label>
                    </div>
                    <div class="col-12 col-lg-6 form-group my-2">
                        <label for="phone" class="form-label">Phone</label>
                        <input id="phone" type="text" class="form-control" th:field="*{phone}">
                        <label th:if="${#fields.hasErrors('phone')}"  th:text="${#fields.errors('phone')[__0__]}" class="text-danger"></label>
                    </div>
                    <div class="col-12 col-lg-6 form-group my-2">
                        <label for="role" class="form-label">Role</label>
                        <select id="role" class="form-select" th:field="*{role}">
                            <option value="">-- select role --</option>
                            <option
								th:each="userRole:${T(team.ojt7.recruitment.model.entity.User.Role).values()}"
								th:value="${userRole}" th:text="${userRole.displayName}" >
                            </option>
                        </select>
                        <label th:if="${#fields.hasErrors('role')}"  th:text="${#fields.errors('role')[__0__]}" class="text-danger"></label>
                    </div>
                    <div class="col-12 col-lg-3 form-group my-2">
                        <label for="gender" class="form-label">Gender</label>
                        <select id="gender" class="form-select" th:field="*{gender}">
                            <option value="">-- gender --</option>
                            <option
								th:each="g:${T(team.ojt7.recruitment.model.entity.Gender).values()}"
								th:value="${g}" th:text="${g.displayName}" >
                            </option>
                        </select>
                        <label th:if="${#fields.hasErrors('gender')}"  th:text="${#fields.errors('gender')[__0__]}" class="text-danger"></label>
                    </div>

                    <div class="col-12 col-lg-3 form-group my-2">
                        <label for="status" class="form-label">Status</label>
                        <select id="status" class="form-select" th:field="*{status}">
                            <option value="">-- status --</option>
                            <option
								th:each="userStatus:${T(team.ojt7.recruitment.model.entity.User.Status).values()}"
								th:value="${userStatus}" th:text="${userStatus.displayName}" >
                            </option>
                        </select>
                        <label th:if="${#fields.hasErrors('status')}"  th:text="${#fields.errors('status')[__0__]}" class="text-danger"></label>
                    </div>

                    <div class="col-12 col-lg-6 form-group my-2">
                        <label for="password" class="form-label">Password</label>
                        <input id="password" type="password" class="form-control" name="password" th:value="${user.password}">
                        <label th:if="${#fields.hasErrors('password')}"  th:text="${#fields.errors('password')[__0__]}" class="text-danger"></label>
                    </div>
                    <div class="col-12 col-lg-6 form-group my-2">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input id="confirmPassword" type="password" class="form-control" name="confirmPassword" th:value="${user.confirmPassword}">
                        <label th:if="${#fields.hasErrors('confirmPassword')}"  th:text="${#fields.errors('confirmPassword')[__0__]}" class="text-danger"></label>
                    </div>
                    
                    <div class="col-12 d-flex flex-row-reverse mt-3">
                        <button type="submit" class="btn btn-success ms-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
                                <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
                              </svg>
                            Save
                        </button>
					    <a th:href="@{/user/search}" class="btn btn-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/></svg>
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
        
    </main>
</body>
<script>
    var constraints = {
        name: {
            presence: {message : "^Enter name"},
            length: {
                maximum: 50,
                message: "^Name must be maximum 50 characters"
            }
        },
        code: {
            presence: {message : "^Enter code"},
            format : {
                pattern : /^\S*$/,
                message : "^Code cannot contain space"
            },
            length: {
                maximum: 30,
                message: "^Name must be maximum 30 characters"
            }
        },
        phone : {
            presence : {message : "^Enter phone number"},
            format : {
                pattern : /^\d+$/,
                message : "^Enter valid phone number"
            },
            length : {
                minimum : 6,
                maximum : 16,
                message : "^Phone number must be between 6 ant 16 digits"
            }
        },
        email : {
            presence : {message : "^Enter email"},
            email : {message : "^Enter valid email"}
        },
        role : {
            presence : {message : "^Select role"}
        },
        gender : {
            presence : {message : "^Select gender"}
        },
        status : {
            presence : {message : "^Select status"}
        },
        password : {
            presence : {message : "^Enter password"},
            format : {
                pattern : /^\S*$/,
                message : "^Password cannot contain space"
            },
            length: {
                minimum: 8,
				maximum: 30,
                message: "^Password must be between 8 and 30 characters"
            },
        },
        confirmPassword : {
            presence : {message : "^Confirm password"},
            equality: {
                attribute : "password",
                message : "^Passwords are not the same",
                comparator: function(v1, v2) {
                    console.log(v1);
                    console.log(v2);
                    return JSON.stringify(v1) == JSON.stringify(v2);
                }
            }
        }
        
    };

    var form = document.getElementById("userForm");
    form.addEventListener("submit", function(event) {
        event.preventDefault();
        let values = validate.collectFormValues(form);
        let validation = validate(values, constraints);
        
        let codeError = document.createElement("label");
        codeError.id = "codeError";
        codeError.classList.add("text-danger");

        let nameError = document.createElement("label");
        nameError.id = "nameError";
        nameError.classList.add("text-danger");

        let phoneError = document.createElement("label");
        phoneError.id = "phoneError";
        phoneError.classList.add("text-danger");

        let emailError = document.createElement("label");
        emailError.id = "emailError";
        emailError.classList.add("text-danger");

        let roleError = document.createElement("label");
        roleError.id = "roleError";
        roleError.classList.add("text-danger");

        let genderError = document.createElement("label");
        genderError.id = "genderError";
        genderError.classList.add("text-danger");

        let statusError = document.createElement("label");
        statusError.id = "statusError";
        statusError.classList.add("text-danger");

        let passwordError = document.createElement("label");
        passwordError.id = "passwordError";
        passwordError.classList.add("text-danger");

        let confirmPasswordError = document.createElement("label");
        confirmPasswordError.id = "confirmPasswordError";
        confirmPasswordError.classList.add("text-danger");

        if (validation) {
            checkValidation(codeError, "codeError", "code", validation.code);
            checkValidation(nameError, "nameError", "name", validation.name);
            checkValidation(phoneError, "phoneError", "phone", validation.phone);
            checkValidation(emailError, "emailError", "email", validation.email);
            checkValidation(roleError, "roleError", "role", validation.role);
            checkValidation(genderError, "genderError", "gender", validation.gender);
            checkValidation(statusError, "statusError", "status", validation.status);
            checkValidation(passwordError, "passwordError", "password", validation.password);
            checkValidation(confirmPasswordError, "confirmPasswordError", "confirmPassword", validation.confirmPassword);
        } else {
            form.submit();
        }
        
    });

    const checkValidation = (errorLabel, errorLabelId, inputId, validation) => {
        if (validation) {
            let input = document.getElementById(inputId);
            if (!document.getElementById(errorLabelId)) {
                input.parentNode.insertBefore(errorLabel, input.nextSibling);
            }
            document.getElementById(errorLabelId).innerText = validation[0];
        } else {
            removeIfExists(errorLabelId);
        }
    }

    const removeIfExists = (id) => {
        let element = document.getElementById(id);
        if (element) {
            element.parentNode.removeChild(element);
        }
    }
</script>
</html>