<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add New User</title>
<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.bundle.min.js}"></script>
<link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/style.css}" />
<link rel="stylesheet" th:href="@{/resources/fontawesome/css/all.css}">
</head>
<body>
	<div th:replace="nav-bar :: navbar('users')"></div>

	<div class="container-fluid mt-2 py-3">
		<div class="row">
			<div class="offset-sm-1 col-sm-10 col-md-8 offset-md-2">
				<h2 class="fs-4 fw-bold">Add New User</h2>
			</div>
		</div>

		<form action="#" th:action="@{/admin/user/save}" th:object="${user}"
			class="mt-2" method="post">


			<input type="hidden" class="form-control" th:field="*{id}">
			<div class="row">

				<div class="offset-sm-1 col-sm-10 offset-md-2 col-md-4">
					<div class="form-group">
						<label for="" class="form-label">Code</label>
						<input type="text"
							class="form-control" th:field="*{code}">
						<label
							th:if="${#fields.hasErrors('code')}" th:errors="*{code}"
							style="color: red;">Error </label>
					</div>
				</div>
				<div class="offset-sm-1 col-sm-10 col-md-4 offset-md-0">
					<div class="form-group">
						<label for="" class="form-label">Name</label>
						<input type="text"
							class="form-control" th:field="*{name}">
						<label
							th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
							style="color: red;">Error </label>
					</div>
				</div>
			</div>

			<div class="row mt-3">
				<div class="offset-sm-1 col-sm-10 offset-md-2 col-md-4">
					<div class="form-group">
						<label for="" class="form-label">Email</label> <input type="text"
							class="form-control" th:field="*{email}"> <label
							th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
							style="color: red;">Error </label>
					</div>
				</div>
				<div class="offset-sm-1 col-sm-10 col-md-4 offset-md-0">
					<div class="form-group">
						<label for="" class="form-label">Phone</label> <input type="text"
							class="form-control" th:field="*{phone}"> <label
							th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"
							style="color: red;">Error </label>
					</div>
				</div>
			</div>

			<div class="row mt-3">
				<div class="offset-sm-1 col-sm-10 offset-md-2 col-md-4">
					<div class="form-group">
						<label for="" class="form-label">Role</label> <select name=""
							id="" class="form-select" th:field="*{role}">
							<option
								th:each="userRole:${T(team.ojt7.recruitment.model.entity.User.Role).values()}"
								th:value="${userRole}" th:text="${userRole.displayName}" />
						</select> <label th:if="${#fields.hasErrors('role')}" th:errors="*{role}"
							style="color: red;">Error </label>
					</div>
				</div>
				<div class="offset-sm-1 col-sm-10 col-md-4 offset-md-0">
					<div class="form-group">
						<label for="" class="form-label">Gender</label> <select name=""
							id="" class="form-select" th:field="*{gender}">
							<option
								th:each="g:${T(team.ojt7.recruitment.model.entity.Gender).values()}"
								th:value="${g}" th:text="${g.displayName}" />
						</select> <label th:if="${#fields.hasErrors('gender')}"
							th:errors="*{gender}" style="color: red;">Error </label>
					</div>
				</div>
			</div>

			<div class="row mt-3">
				<div class="offset-sm-1 col-sm-10 offset-md-2 col-md-4">
					<div class="form-group">
						<label for="" class="form-label">Password</label> <input
							type="password" class="form-control"  name="password" th:value="${user.password}">
						<label th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}" style="color: red;">Error </label>
					</div>
				</div>
				<div class="offset-sm-1 col-sm-10 col-md-4 offset-md-0">
					<div class="form-group">
						<label for="" class="form-label">Confirm Password</label> <input
							type="password" class="form-control" name="confirmPassword" th:value="${user.confirmPassword}">
							<label th:if="${#fields.hasErrors('confirmPassword')}"
							th:errors="*{confirmPassword}" style="color: red;">Error </label>
					</div>
				</div>
			</div>

			<div class="row mt-4">
				<div
					class="offset-sm-1 col-sm-10 offset-md-2 col-md-8 d-flex flex-row-reverse">
					<button type="submit" class="btn btn-success ms-1">Save</button>
					<a th:href="@{/admin/user/search}" class="btn btn-secondary">Cancel</a>
				</div>
			</div>
		</form>
	</div>

</body>
</html>