<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applicants</title>
    <script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/style.css}" />
    <link rel="stylesheet" th:href="@{/resources/fontawesome/css/all.css}">
</head>
<body>
    
    <div th:replace="nav-bar :: navbar('applicants')"></div>
    <main class="container-fluid mt-2 py-3">

        <div class="row">
            <h2 class="col-auto fs-5 fw-bold">Applicants</h2>
        </div>

        <form id="searchForm" th:action="@{/manager/applicant/search}" th:object="${applicantSearch}" class="row mt-4 mb-4">
            <div class="col-auto">
                <input id="pageParamInput" type="hidden" th:field="*{page}">
                <div class="input-group">
                    <input class="form-control" type="text" th:field="*{keyword}" placeholder="Search" />
                    <a th:href="@{'/manager/applicant/search?' + 'size=' + ${applicantSearch.size} + ${applicantSearch.dateFrom != null && applicantSearch.dateFrom != '' ? '&dateFrom=' + applicantSearch.dateFrom : ''} + ${applicantSearch.dateTo != null && applicantSearch.dateTo != '' ? '&dateTo=' + applicantSearch.dateTo : ''}}" class="input-group-text">
                        <i class="fa-solid fa-delete-left"></i>
                    </a>
                    <button class="btn btn-primary" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
            
            <div class="col-auto">
                <input type="date" th:field="*{dateFrom}" onchange="changePageSize()" class="form-control">
            </div>
            
            <div class="col-auto">
                <input type="date" th:field="*{dateTo}" onchange="changePageSize()" class="form-control">
            </div>
            
            <div class="col-auto">
                <a th:href="@{/hr/applicant/edit}" class="btn btn-success">
                    <i class="fa-solid fa-plus"></i>
                    Add New
                </a>
            </div>
        </form>

        <div class="row mt-3">
			<div class="form-group-col col-auto">
				<label for="" class="col-form-label">Showing</label>
			</div>
			<div class="col-auto">
				<select form="searchForm" name="size" th:value="${applicantPage.size}" onchange="changePageSize()" class="form-select">
					<option th:each="s : ${ {1, 10, 20, 30, 40, 50, 60, 70 , 80 ,90, 100} }" th:value="${s}" th:text="${s}" th:selected="${s == applicantPage.size}"></option>
				</select>
			</div>
			<div class="col-auto">
				<p class="col-form-label">items per page</p>
			</div>
			
		</div>

        <div th:each="applicant : ${applicantPage.content}" class="row d-flex justify-content-center align-items-center h-100 mt-3">
            <div class="col mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col">
                            <div class="card-body p-4">
                                <div class="row my-2">
                                    <h6 class="col-3" th:text="${(applicantStat.index + 1) + '. ' + applicant.name }"></h6>
                                    <h6 class="col-3" th:text="${applicant.code}"></h6>
                                    <h6 class="col-3" th:text="${applicant.createdDate}"></h6>
                                    <div class="col-3">
                                        <a th:href="@{/hr/applicant/edit(id=${applicant.id})}" class="btn btn-success">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                        <a th:href="@{/{cvLink}(cvLink=${applicant.attachedUri})}" target="_blank" class="btn btn-warning">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        <form th:action="@{/hr/applicant/delete(id=${applicant.id})}" method="post" class="d-inline-block">
                                            <button type="submit" class="btn btn-danger">
                                                <i class="fa-regular fa-trash-can"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-sm-6 col-md-3 mb-3">
                                        <h6>Vacancy</h6>
                                        <p class="text-muted">DAT_VA_0001</p>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mb-3">
                                        <h6>Position</h6>
                                        <p class="text-muted">Junior Programmer (FOC)</p>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mb-3">
                                        <h6>Department</h6>
                                        <p class="text-muted">Offshore Department</p>
                                    </div>
                                    <div class="col-sm-6 col-md-3 mb-3">
                                        <h6>Team</h6>
                                        <p class="text-muted">Team Alpha</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
        <nav aria-label="Pagination" th:if="${applicantPage.totalPages > 0}" class="mt-3">
			<ul class="pagination justify-content-center bg-white">
			  <li class="page-item" th:classappend="${applicantPage.number + 1 == 1} ? 'disabled'">
				<a th:replace="page-nav :: applicant(1, '<<', 'First Page')"></a>
			  </li>
			  <li class="page-item font-weight-bold" th:classappend="${applicantPage.number + 1 == 1} ? 'disabled'">
				<a th:replace="page-nav :: applicant(${applicantPage.number}, 'Prev', 'Previous Page')"></a>
			  </li>
			  <li class="page-item disabled" th:if="${applicantPage.number - 1 > 1}">
				<a class="page-link" href="#">...</a>
			  </li>
			  <li class="page-item" th:classappend="${page == applicantPage.number + 1} ? 'active'"
				th:each="page : ${#numbers.sequence(applicantPage.number + 1 > 2 ? applicantPage.number - 1 : 1, applicantPage.number + 3 < applicantPage.totalPages ? applicantPage.number + 3 : applicantPage.totalPages)}">
				<a th:replace="page-nav :: applicant(${page}, ${page}, 'Page ' + ${page})"></a>
			  </li>
			  <li class="page-item disabled" th:if="${applicantPage.number + 3 < applicantPage.totalPages}">
				<a class="page-link" href="#">...</a>
			  </li>
			  <li class="page-item font-weight-bold" th:classappend="${applicantPage.number + 1 == applicantPage.totalPages} ? 'disabled'">
				<a th:replace="page-nav :: applicant(${applicantPage.number + 2},'Next', 'Next Page')"></a>
			  </li>
			  <li class="page-item" th:classappend="${applicantPage.number + 1 == applicantPage.totalPages} ? 'disabled'">
				<a th:replace="page-nav :: applicant(${applicantPage.totalPages}, '>>', 'Last Page')"></a>
			  </li>
			</ul>
		</nav>

    </main>
    <script type="text/javascript">
	  
		function changePageSize() {
			$("#pageParamInput").val("1");
		  	$("#searchForm").submit();
		}
	</script>
</body>
</html>