<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Change Password</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" th:href="@{/resources/css/style.css}" />
<link rel="stylesheet" th:href="@{/resources/fontawesome/css/all.css}">
</head>
<body>
	<div th:replace="nav-bar :: navbar('profile')"></div>

	<div class="container-fluid mt-2 py-3">
		<div class="row">
			<div class="offset-sm-2 col-sm-8 offset-md-3 col-md-6 offset-lg-4 col-lg-4">
				<h2 class="fs-4 fw-bold">Change Password</h2>
			</div>
		</div>

		<form th:action="@{/user/password/save}" th:object="${passwordForm}"
			method="Post" class="mt-2">

            <input type="hidden" th:field="*{userId}">

			<div class="row">
				<div class="offset-sm-2 col-sm-8 offset-md-3 col-md-6 offset-lg-4 col-lg-4">
					<div class="form-group">
						<label for="" class="form-label">Old Password</label>
                        <input type="password" class="form-control" name="oldPassword" th:value="*{oldPassword}">
                        <label th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" style="color: red;"></label>
					</div>
				</div>
			</div>

            <div class="row mt-2">
				<div class="offset-sm-2 col-sm-8 offset-md-3 col-md-6 offset-lg-4 col-lg-4">
					<div class="form-group">
						<label for="" class="form-label">New Password</label>
                        <input type="password" class="form-control" name="newPassword" th:value=*{newPassword}>
                        <label th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" style="color: red;"></label>
					</div>
				</div>
			</div>

            <div class="row mt-2">
				<div class="offset-sm-2 col-sm-8 offset-md-3 col-md-6 offset-lg-4 col-lg-4">
					<div class="form-group">
						<label for="" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" name="confirmPassword" th:value=*{confirmPassword}>
                        <label th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" style="color: red;"></label>
					</div>
				</div>
			</div>

            <div class="row mt-2">
                <div class="offset-sm-2 col-sm-8 offset-md-3 col-md-6 offset-lg-4 col-lg-4">
					<button type="submit" class="btn btn-success">Save</button>
                    <a th:href="@{/user/profile}" type="submit" class="btn btn-secondary ms-1">Cancel</a>
				</div>
			</div>

			
		</form>
	</div>

</body>
</html>