<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Change User Password</title>
	<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/validate.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/style.css}" />
</head>
<body>
	<div th:replace="nav-bar :: navbar('users')"></div>

	<main class="container py-5">
		<div class="row">
			<div class="card shadow-lg col-10 col-md-8 col-lg-6 col-xl-4 mx-auto">
				<div class="card-body">
					<div class="card-title py-2">
						<h2 class="fs-5 fw-bold">Change Password</h2>
					</div>
					
					<form id="changePasswordForm" th:action="@{/user/password/save}" th:object="${passwordForm}" method="Post">
						<input type="hidden" th:field="*{userId}">
						<div class="form-group my-2">
							<label for="password" class="form-label">Password</label><span class="required">*</span>
							<input id="password" type="password" class="form-control validated-input" name="password" th:value="*{password}">
							<label th:if="${#fields.hasErrors('password')}" th:text="${#fields.errors('password')[__0__]}" class="text-danger validated-label"></label>
						</div>
						<div class="form-group my-2">
							<label for="confirmPassword" class="form-label">Confirm Password</label><span class="required">*</span>
							<input id="confirmPassword" type="password" class="form-control validated-input" name="confirmPassword" th:value=*{confirmPassword}>
							<label th:if="${#fields.hasErrors('confirmPassword')}" th:text="${#fields.errors('confirmPassword')[__0__]}" class="text-danger validated-label"></label>
						</div>
						<div class="d-flex flex-row-reverse mt-4">
							<button type="submit" class="btn btn-success">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
									<path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
								</svg>
								Save
							</button>
							<a th:href="@{/user/search}" type="submit" class="btn btn-secondary me-2">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/></svg>
								Cancel
							</a>
						</div>
					</form>
				</div>
				
			</div>
		</div>
	</main>
</body>
<script>

	var constraints = {
			password: {
				presence: {message : "^Enter new password"},
				format : {
					pattern : /^\S*$/,
					message : "^Password cannot contain space"
				},
				length: {
					minimum: 8,
					maximum: 30,
					message: "^Password must be between 8 and 30 characters"
				}
			},
			confirmPassword : {
				presence : {message : "^Confirm your password"},
				equality: {
					attribute : "password",
					message : "^Passwords are not the same",
					comparator: function(v1, v2) {
						console.log(v1);
						console.log(v2);
						return JSON.stringify(v1) == JSON.stringify(v2);
					}
				}
			}
			
		};
	
		var form = document.getElementById("changePasswordForm");
		form.addEventListener("submit", function(event) {
			validated(event);
		});

		$(".validated-input").on("input", function(event) {
			let labels = $(event.target.parentElement).find(".validated-label");
			labels.each((i, l) => {
				l.parentNode.removeChild(l);
			});
			if ($(this).val()) {
				validatedEach(event, $(this).attr("id"));
			}
		});

		const validated = (event) => {
			event.preventDefault();
			let values = validate.collectFormValues(form);
			let validation = validate(values, constraints);
	
			let passwordError = document.createElement("label");
			passwordError.id = "passwordError";
			passwordError.classList.add("text-danger", "validated-label");
	
			let confirmPasswordError = document.createElement("label");
			confirmPasswordError.id = "confirmPasswordError";
			confirmPasswordError.classList.add("text-danger", "validated-label");
	
			if (validation) {
				checkValidation(passwordError, "passwordError", "password", validation.password);
				checkValidation(confirmPasswordError, "confirmPasswordError", "confirmPassword", validation.confirmPassword);
			} else {
				form.submit();
			}
		}

		const validatedEach = (event, inputId) => {
			event.preventDefault();
			let values = validate.collectFormValues(form);
			let validation = validate(values, constraints);
	
			let passwordError = document.createElement("label");
			passwordError.id = "passwordError";
			passwordError.classList.add("text-danger", "validated-label");
	
			let confirmPasswordError = document.createElement("label");
			confirmPasswordError.id = "confirmPasswordError";
			confirmPasswordError.classList.add("text-danger", "validated-label");
	
			if (validation) {
				if (inputId == "password") {
					checkValidation(passwordError, "passwordError", "password", validation.password);
				} else if (inputId == "confirmPassword") {
					checkValidation(confirmPasswordError, "confirmPasswordError", "confirmPassword", validation.confirmPassword);
				}
			}
		}
	
		const checkValidation = (errorLabel, errorLabelId, inputId, validation) => {
			if (validation) {
				let input = document.getElementById(inputId);
				if (!document.getElementById(errorLabelId)) {
					input.parentNode.insertBefore(errorLabel, input.nextSibling);
				}
				document.getElementById(errorLabelId).innerText = validation[0];
			} else {
				removeIfExists(errorLabelId);
			}
		}
	
		const removeIfExists = (id) => {
			let element = document.getElementById(id);
			if (element) {
				element.parentNode.removeChild(element);
			}
		}
	</script>
</html>