<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Applicant Status</title>
    <script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/style.css}" />
</head>
<body>
    <div th:replace="nav-bar :: navbar('applicants')"></div>
    <main class="container py-3">
        <div class="row">
            <h2 class="col-12 col-lg-6 fs-5 fw-bold">Change Applicant Status</h2>
        </div>
        <div class="row mt-md-3">
            <div class="col-12 col-lg-6">
                <div class="card card-body shadow-lg">
                    <div class="d-flex text-black align-items-center">
                        <div class="flex-shrink-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person-circle text-secondary" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <div class="row">
                                <h6 class="col-12font-md fw-bold my-1">
                                    [[${statusChangeHistory.applicant.name}]]
                                </h6>

                                <label class="col-12 font-xs">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M181.3 32.4c17.4 2.9 29.2 19.4 26.3 36.8L197.8 128h95.1l11.5-69.3c2.9-17.4 19.4-29.2 36.8-26.3s29.2 19.4 26.3 36.8L357.8 128H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H347.1L325.8 320H384c17.7 0 32 14.3 32 32s-14.3 32-32 32H315.1l-11.5 69.3c-2.9 17.4-19.4 29.2-36.8 26.3s-29.2-19.4-26.3-36.8l9.8-58.7H155.1l-11.5 69.3c-2.9 17.4-19.4 29.2-36.8 26.3s-29.2-19.4-26.3-36.8L90.2 384H32c-17.7 0-32-14.3-32-32s14.3-32 32-32h68.9l21.3-128H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h68.9l11.5-69.3c2.9-17.4 19.4-29.2 36.8-26.3zM187.1 192L165.8 320h95.1l21.3-128H187.1z"/></svg>
                                    [[${statusChangeHistory.applicant.code}]]
                                </label>
                            </div>
                        </div>
                    </div>
                    <form th:action="@{/applicant/status/save}" class="row" th:object="${statusChangeHistory}" method="post">
                        <input type="hidden" th:field="*{applicantId}">
                        <input type="hidden" name="contextPage" th:value="${contextPage}">
                        <div class="col form-group">
                            <label for="status" class="form-label">Status</label>
                            <select id="status" class="form-select" th:disabled="${!updateable}" th:field="*{status}">
                                <option
								th:each="g:${T(team.ojt7.recruitment.model.entity.Applicant.Status).values()}"
								th:value="${g}" th:text="${g.displayName}" >
                            </option>
                            </select>
                        </div>
                        <div class="col-form-group mt-2">
                            <label for="remark" class="form-label">Remark</label>
                            <textarea id="remark" class="form-control" th:disabled="${!updateable}" th:field="*{remark}"></textarea>
                        </div>
                        <div class="col d-flex flex-row-reverse mt-3">
                            <button type="submit" id="btnSubmit" class="btn btn-success">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
									<path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
								</svg>
                                Save
                            </button>
                            <a th:href="@{${contextPage}}" class="btn btn-secondary me-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/></svg>
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-3 mt-lg-0">
                <div class="card card-body shadow-lg">
                    <div class="font-md fw-bold">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M75 75L41 41C25.9 25.9 0 36.6 0 57.9V168c0 13.3 10.7 24 24 24H134.1c21.4 0 32.1-25.9 17-41l-30.8-30.8C155 85.5 203 64 256 64c106 0 192 86 192 192s-86 192-192 192c-40.8 0-78.6-12.7-109.7-34.4c-14.5-10.1-34.4-6.6-44.6 7.9s-6.6 34.4 7.9 44.6C151.2 495 201.7 512 256 512c141.4 0 256-114.6 256-256S397.4 0 256 0C185.3 0 121.3 28.7 75 75zm181 53c-13.3 0-24 10.7-24 24V256c0 6.4 2.5 12.5 7 17l72 72c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-65-65V152c0-13.3-10.7-24-24-24z"/></svg>
                        Status History
                    </div>
                    <ul class="list-group mt-3 p-3 font-sm" style="max-height: 75vh;overflow-y: scroll;">
                        <li class="row list-group-item" th:each="history : ${statusChangeHistories}">
                            <div class="col-12 text-success fw-bold lh-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/></svg>
                                [[${#temporals.format(history.updatedOn, 'yyyy-MM-dd HH:mm')}]]
                            </div>
                            <div class="col-12 lh-lg">
                                <label class="fw-bold">
                                    Status : 
                                </label>
                                <label class="badge rounded-pill" th:classappend="${history.statusColorClass}">
                                    [[${history.status.displayName}]]
                                </label>
                            </div>
                            <div class="col-12 lh-lg">
                                <label class="fw-bold">
                                    Updated By : 
                                </label>
                                [[${history.updatedBy.name}]]
                            </div>
                            <div th:if="${history.remark != null && !history.remark.blank}" class="col-12 lh-lg">
                                <label class="fw-bold d-block">Remark : </label>
                                <label class="fst-italic">[[${history.remark}]]</label>
                            </div>
                        </li>
                      </ul>
                </div>
            </div>
            
        </div>
    </main>
</body>
<script>
    let selectedStatus = $('#status').find(":selected").val();
    let btnSubmit = $('#btnSubmit');
    btnSubmit.addClass("disabled");
    $('#status').on('change', function(event) {
        let changeValue = this.value;
        if (changeValue == selectedStatus) {
            btnSubmit.addClass("disabled");
        } else {
            btnSubmit.removeClass("disabled");
        }
    });
</script>
</html>