<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Department Managements</title>
<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.bundle.min.js}"></script>
<link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/style.css}" />
<link rel="stylesheet" th:href="@{/resources/fontawesome/css/all.css}">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
	<div th:replace="nav-bar :: navbar('departments')"></div>
	<div class="container bg-white mt-2 pt-3">
		<form class="row g-3 mt-3" action="#"
			th:action="@{/admin/department/search}" method="get">

			<div class="col-auto">

				<input name="keyword" type="text" class="form-control" th:value="${param.keyword}">
			</div>

			<div class="col-auto">
				<a th:href="@{/admin/department/search}" type="reset" class="btn btn-primary ">
					<span class="material-symbols-outlined"> restart_alt </span>
				</a>

			</div>
			<div class="col-auto">

				<button type="submit" class="btn btn-info ">
					<span class="material-symbols-outlined">search</span>
				</button>
			</div>
			<div class="col-auto">
				<a th:href="@{/admin/department/edit}" class="btn btn-secondary">
					<span class="material-symbols-outlined">add_circle</span>
				</a>
			</div>
		</form>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Teams</th>
					<th>Action</th>

				</tr>
			</thead>
			<tbody>

				<tr th:each="dept : ${list}">
					<td th:text="${deptStat.index + 1}"></td>
					<td th:text="${dept.name}"></td>
					<td th:text="${dept.teams.size}"></td>
					<td><a th:href="@{/admin/department/edit(id=${dept.id})}"
						class="btn btn-warning "><span
							class="material-symbols-outlined"> edit </span> </a> <a
						th:href="@{/admin/department/delete(id=${dept.id})}" class="btn btn-info"><span
							class="material-symbols-outlined"> delete </span></a></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>