<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.bundle.min.js}"></script>
<link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/style.css}" />
<link rel="stylesheet" th:href="@{/resources/fontawesome/css/all.css}">
</head>
<body>
    <div th:replace="nav-bar :: navbar('resources')"></div>
    <main class="container-fluid mt-2 py-3">
        <div class="row">
            <div class="offset-3 col-6">
                <h2 class="fs-5 fw-bold" th:text="${title}"></h2>
            </div>
        </div>

        <div class="row">
            <div class="offset-3 col-6">
                <table class="table mt-3">
                    <tbody>
                        <tr>
                            <th>Code</th>
                            <td th:text="${recruitmentResource.code}"></td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td th:text="${recruitmentResource.name}"></td>
                        </tr>
                        
                    </tbody>
                </table>

                <div class="row">
                    <a th:href="@{/manager/recruitment/direct/search}" class="btn btn-warning d-block offset-3 col-6">Back</a>
                </div>
            </div>
        </div>
        
    </main>
</body>
</html>