<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${interview.id == null ? 'Add New Interview' : 'Edit Interview'}"></title>
    <script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/dselect.js}"></script>   
    <script type="text/javascript" th:src="@{/resources/js/custom-validation.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/edit-interview.js}"></script>
    <script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/validate.js}"></script>   
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/style.css}" />
	<link rel="stylesheet" th:href="@{/resources/css/dselect.css}" />
</head>
<body>
    <div th:replace="nav-bar :: navbar('interviews')"></div>
    <main class="container py-5">
        <div class="row">
            <div class="card shadow-lg offset-sm-1 offset-lg-3 col-sm-10 col-lg-6">
                <div class="card-body">
                    <div class="card-title font-lg fw-bold">[[${title}]]</div>
                    <form id="interviewForm" th:action="@{/interview/save}" class="row" method="post" th:object="${interview}">
                        
                        
                	<input type="hidden" th:field="*{id}">
                        
                        
                        <div class="col-12 form-group my-2">
                            <label for="code" class="form-label">Code</label>
                            <input id="code" type="text" class="form-control" th:field="*{code}" >
                        </div>
                        <div class="col-12 form-group my-2">
                            <label for="interviewName" class="form-label">Interview Name</label>
                            <select id="interviewName" class="form-select select-search" th:field="*{interviewName}">
                              <option value="">-- select interview --</option>
                            <option th:each="in : ${interviewNames}" th:text="${in.name}" th:value="${in.id}"></option>
                        </select>
                         <div id="interviewNameHelp"></div>                 
                        </div>
                        <div class="col-12 form-group my-2">
                            <label for="applicant" class="form-label">Applicant</label>
                            <select id="applicant" th:field="*{applicant}" class="form-select select-search">
                             <option value="" th:attrappend="disabled=${interview.id != null ? 'disabled' : ''}">-- select applicant --</option>
                            <option th:each="ap : ${applicants}" th:text="${ap.name} +' ('+ ${ap.code}+')'"  th:value="${ap.id}"  th:attrappend="disabled=${interview.id != null && interview.applicant != null && interview.applicant.id != ap.id ? 'disabled' : ''}"></option>
                            </select>
                           <div id="applicantHelp"></div>                               
                        </div>
                        <div class="col-12 col-md-6 form-group my-2">
                            <label for="date" class="form-label">Date</label>
                            <input id="date" th:field="*{localDate}" type="date" class="form-control">
                        </div>
                        <div class="col-12 col-md-6 form-group my-2">
                            <label for="time" class="form-label">Time</label>
                            <input id="time" th:field="*{localTime}" type="time" class="form-control">
                        </div>
                        <div class="col-12 d-flex flex-row-reverse mt-3">
                            <button type="submit" class="btn btn-success ms-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
                                    <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
                                  </svg>
                                Save
                            </button>
                            <a th:href="@{/interview/search}" class="btn btn-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                  </svg>
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </main>
</body>
<script type="text/javascript">
	  
    function changePageSize() {
        $("#searchForm").submit();
    }

</script>
</html>