<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" th:href="@{/resources/css/style.css}" />
<link rel="stylesheet" th:href="@{/resources/fontawesome/css/all.css}">
</head>
<body>
    <div th:replace="nav-bar :: navbar('resources')"></div>
    <main class="container-fluid mt-2 py-3">
        <div class="row">
            <div class="offset-2 col-8">
                <h2 class="fs-4 fw-bold" th:text="${title}"></h2>
            </div>
        </div>
        <form th:action="@{/hr/recruitment/direct/save}" method="post" th:object="${recruitmentResource}" class="mt-3">
        	<input type="hidden" th:field="*{id}">
            <div class="row">

				<div class="offset-sm-1 col-sm-10 offset-md-2 col-md-4">
					<div class="form-group">
						<label for="" class="form-label">Code</label>
                        <input type="text" class="form-control" th:field="*{code}">
					</div>
				</div>

				<div class="offset-sm-1 col-sm-10 col-md-4 offset-md-0">
					<div class="form-group">
						<label for="" class="form-label">Name</label>
                        <input type="text" class="form-control" th:field="*{name}">
					</div>
				</div>
			</div>

            <div class="row mt-4">
				<div
					class="offset-sm-1 col-sm-10 offset-md-2 col-md-8 d-flex flex-row-reverse">
					<button type="submit" class="btn btn-success ms-1">Save</button>
					<a th:href="@{/manager/recruitment/direct/search}" class="btn btn-secondary">Cancel</a>
				</div>
			</div>
        </form>
    </main>
</body>
</html>