<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit User</title>
<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.bundle.min.js}"></script>
<link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/style.css}" />
<link rel="stylesheet" th:href="@{/resources/fontawesome/css/all.css}">
</head>
<body>
	<div th:replace="nav-bar :: navbar('users')"></div>

	<div class="container-fluid mt-2 py-3">
		<div class="row">
			<div class="offset-sm-1 col-sm-10 col-md-8 offset-md-2">
				<h2 class="fs-4 fw-bold">Edit User</h2>
			</div>
		</div>

		<form action="#" th:action="@{/user/save}" th:object="${user}"
			method="Post" class="mt-2">
			
			<input type="hidden" class="form-control" th:field="*{id}">
			<input type="hidden" class="form-control" th:field="*{confirmPassword}">
			<input type="hidden" class="form-control"  th:field="*{password}">

			<div class="row">
				<div class="offset-sm-1 col-sm-10 offset-md-2 col-md-4">
					<div class="form-group">
						<label for="" class="form-label">Code</label>
						<input type="text" class="form-control" th:field=*{code}>
						<label th:if="${#fields.hasErrors('code')}" th:errors="*{code}" style="color: red;"></label>
					</div>
				</div>
				<div class="offset-sm-1 col-sm-10 col-md-4 offset-md-0">
					<div class="form-group">
						<label for="" class="form-label">Name</label>
						<input type="text" class="form-control" th:field="*{name}">
						<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></label>
					</div>
				</div>
			</div>

			<div class="row mt-3">
				<div class="offset-sm-1 col-sm-10 offset-md-2 col-md-4">
					<div class="form-group">
						<label for="" class="form-label">Email</label>
						<input type="text" class="form-control" th:field="*{email}">
						<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></label>
					</div>
				</div>
				<div class="offset-sm-1 col-sm-10 col-md-4 offset-md-0">
					<div class="form-group">
						<label for="" class="form-label">Phone</label>
						<input type="text" class="form-control" th:field="*{phone}">
						<label th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color: red;"></label>
					</div>
				</div>
			</div>

			<div class="row mt-3">
				<div class="offset-sm-1 col-sm-10 offset-md-2 col-md-4">
					<div class="form-group">
						<label for="" class="form-label">Role</label>
						<select  class="form-select" th:field="*{role}">
							<option th:each="userRole:${T(team.ojt7.recruitment.model.entity.User.Role).values()}" th:value="${userRole}" th:text="${userRole.displayName}" ></option>
						</select>
						<label th:if="${#fields.hasErrors('role')}" th:errors="*{role}" style="color: red;"></label>
					</div>
				</div>
				<div class="offset-sm-1 col-sm-10 col-md-4 offset-md-0">
					<div class="form-group">
						<label for="" class="form-label">Gender</label>
						<select class="form-select" th:field="*{gender}">
							<option
								th:each="g:${T(team.ojt7.recruitment.model.entity.Gender).values()}"
								th:value="${g}" th:text="${g.displayName}" 
							>
							</option>
						</select> 
						<label th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" style="color: red;"></label>
					</div>
				</div>
				
			</div>
			<div class="row mt-4">
				<div
					class="offset-sm-1 col-sm-10 offset-md-2 col-md-8 d-flex flex-row-reverse">
					<button type="submit" class="btn btn-success ms-1">Save</button>
					<a th:href="@{/user/search}" class="btn btn-secondary ms-1">Cancel</a>
					<a th:if="${user.id != null}" th:href="@{/user/password/change(id=${user.id})}" class="btn btn-primary">Change Password</a>
				</div>
			</div>
		</form>
	</div>

</body>
</html>