<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>[[${vacancy.id == null ? 'Create Vacancy' : 'Update Vacancy'}]]</title>
    <script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/dselect.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/custom-validation.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/edit-vacancy.js}"></script>
    <script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/validate.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/style.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/dselect.css}" />
</head>
<body>
	<div th:replace="nav-bar :: navbar('vacancies')"></div>

	<div class="container mt-2 py-3">

		<div class="row">
			<div class="card shadow">
				<div class="card-body">
					<div class="ccard-title font-lg fw-bold">
						[[${vacancy.id == null ? 'Create Vacancy' : 'Update Vacancy'}]]
					</div>
					<form id="vacancyForm" th:action="@{/vacancy/save}" th:object="${vacancy}" method="post" class="row mt-2">
						<input type="hidden" th:field="*{id}">
						<input type="hidden" th:field="*{createdDateTime}">
						<input type="hidden" th:field="*{createdUser}">
						<select class="d-none" th:field="*{department}" th:disabled="${vacancy.id == null}">
							<option th:each="dept: ${departments}" th:text="${dept.name}" th:value="${dept.id}" th:attrappend="disabled=${vacancy.id != null && vacancy.department != null && vacancy.department.id != dept.id ? 'disabled' : ''}"></option>
						</select>
		
						<div id="positionSelectorWrapper" class="d-none">
							<select class="form-select">
								<option value="">-- select a position --</option>
								<option th:each="position : ${positions}" th:text="${position.name}" th:value="${position.id}"></option>
							</select>
						</div>
			
						<div id="teamSelectorWrapper" class="d-none">
							<select class="form-select">
							</select>
						</div>
		
						<div class="col-12 col-lg-6 col-xl-4 my-2 form-group">
							<label for="code" class="form-label">Code</label>
							<input id="code" type="text" class="form-control" th:field="*{code}">
							<label th:if="${#fields.hasErrors('code')}" th:errors="*{code}" th:errorclass="text-danger"></label>
						</div>
		
						<div class="col-12 col-lg-6 col-xl-3 my-2 form-group">
							<label for="department" class="form-label">Department</label>
							<select class="form-select" id="departmentSelect" th:field="*{department}" th:disabled="${vacancy.id != null}" th:classappend="${vacancy.id == null ? 'select-search' : ''}">
								<option value="" th:attrappend="disabled=${vacancy.id != null ? 'disabled' : ''}">-- select a department --</option>
								<option th:each="dept: ${departments}" th:text="${dept.name}" th:value="${dept.id}" th:attrappend="disabled=${vacancy.id != null && vacancy.department != null && vacancy.department.id != dept.id ? 'disabled' : ''}"></option>
							</select>
							<div id="departmentHelp"></div>
							<label th:if="${#fields.hasErrors('department')}" th:errors="*{department}" th:errorclass="text-danger"></label>
						</div>
		
						<div class="col-12 col-lg-6 col-xl-3 my-2 form-group">
							<label for="dueDate" class="form-label">Due Date</label>
							<input id="dueDate" type="date" class="form-control" th:field="*{dueDate}">
							<label th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}" th:errorclass="text-danger"></label>
						</div>
		
						<div class="col-12 col-lg-6 col-xl-2 my-2 form-group">
							<label for="status" class="form-label">Status</label>
							<select id="status" class="form-select" th:field="*{status}">
								<option value="">-- select a status --</option>
								<option th:text="${T(team.ojt7.recruitment.model.entity.Vacancy.Status).OPENING.displayName}" th:value="${T(team.ojt7.recruitment.model.entity.Vacancy.Status).OPENING}"></option>
								<option th:text="${T(team.ojt7.recruitment.model.entity.Vacancy.Status).CLOSED.displayName}" th:value="${T(team.ojt7.recruitment.model.entity.Vacancy.Status).CLOSED}"></option>
							</select>
							<label th:if="${#fields.hasErrors('status')}" th:errors="*{status}" th:errorclass="text-danger"></label>
						</div>
		
						<div class="col-12 form-group my-2">
							<label for="comment" class="form-label">Comment</label>
							<textarea id="comment" class="form-control" th:field="*{comment}"></textarea>
							<label th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" th:errorclass="text-danger"></label>
						</div>
		
						<div class="col-12">
							<h2 class="font-lg fw-bold mt-3">Positions</h2>
							<div id="positionWrapper">
								<div class="row mt-3" th:each="rPosition, rPositionStat : *{requirePositions}">
									<div class="col">
										<div class="row">
											<input type="hidden" th:field="*{requirePositions[__${rPositionStat.index}__].id}">
											<div class="col-12 col-md-8 col-lg-5 col-xl-5 my-2">
												<select class="form-select" th:field="*{requirePositions[__${rPositionStat.index}__].position}">
													<option value="">-- select a position --</option>
													<option th:each="position : ${positions}" th:text="${position.name}" th:value="${position.id}"></option>
												</select>
												<label th:if="${#fields.hasErrors('requirePositions[' + rPositionStat.index + '].position')}" th:errors="*{requirePositions[__${rPositionStat.index}__].position}" th:errorclass="text-danger"></label>
											</div>
											<div class="col-6 col-md-4 col-lg-2 col-xl-1 my-2">
												<div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" th:field="*{requirePositions[__${rPositionStat.index}__].foc}" role="switch" />
													<label class="form-check-label" th:for="*{requirePositions[__${rPositionStat.index}__].foc}">FOC</label>
												</div>
											</div>
											<div class="col-6 col-md-4 col-lg-1 col-xl-1 order-md-3 my-2">
												<input type="text" class="form-control text-end"  th:field="*{requirePositions[__${rPositionStat.index}__].count}">
												<label th:if="${#fields.hasErrors('requirePositions[' + rPositionStat.index + '].count')}" th:errors="*{requirePositions[__${rPositionStat.index}__].count}" th:errorclass="text-danger"></label>
											</div>
											
											<div class="col-12 col-md-8 col-lg-4 col-xl-5 my-2 team-select-wrapper">
												<select class="form-select"  th:field="*{requirePositions[__${rPositionStat.index}__].team}">
													<option value="">-- select a team --</option>
													<th:block th:if="${vacancy.department != null}">
														<option th:each="team: *{department.teams}" th:text="${team.name}" th:value="${team.id}"></option>
													</th:block>
												</select>
												<label th:if="${#fields.hasErrors('requirePositions[' + rPositionStat.index + '].team')}" th:errors="*{requirePositions[__${rPositionStat.index}__].team}" th:errorclass="text-danger"></label>
											</div>
										</div>
									</div>
									<div class="col-auto my-2">
										<span class="btn btn-danger btnPositionRemove" th:classappend="${rPosition.applicants.empty ? '' : 'disabled'}">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM184 232H328c13.3 0 24 10.7 24 24s-10.7 24-24 24H184c-13.3 0-24-10.7-24-24s10.7-24 24-24z"/></svg>
										</span>
									</div>
								</div>
							</div>
						</div>
		
						<div class="col-12 mt-3">
							<span class="col-12 mx-auto btn btn-warning" id="btnAddNewPosition">
								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M240 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H176V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H240V80z"/></svg>
							</span>
						</div>
		
						<div class="col-12 mt-5 d-flex flex-row-reverse">
							<button type="submit" class="btn btn-success ms-1">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
									<path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
								</svg>
								Save
							</button>
							<a th:href="@{/vacancy/search}" class="btn btn-secondary ms-1">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/></svg>
								Cancel
							</a>
						</div>
		
					</form>
				</div>
			</div>
			
		</div>
		
	</div>

</body>
</html>