<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[${recruitmentResource.id == null ? 'Add New External Recruitment Resource' : 'Edit External Recruitment Resource'}]]</title>
    <script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/custom-validation.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/validate.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/edit-external-recruitment-resource.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/style.css}" />
</head>
<body>
    <div th:replace="nav-bar :: navbar('resources')"></div>
    <div class="container p-3">
        <div class="row">
            <div class="card shadow col-12 col-lg-8 mx-auto">
                <form id="recruitmentResourceForm" th:action="@{/recruitmentresource/external/save}" class="card-body row" th:object="${recruitmentResource}" method="post">
                    <h2 class="card-title font-lg fw-bold col-12">[[${recruitmentResource.id == null ? 'Add New External Recruitment Resource' : 'Edit External Recruitment Resource'}]]</h2>
                    <input type="hidden" th:field="*{id}">
                    <div class="form-group col-12 col-xl-6 my-2">
                        <label for="code" class="form-label">Code</label>
                        <input id="code" type="text" class="form-control validated-input" th:field="*{code}">
                        <label th:if="${#fields.hasErrors('code')}"  th:text="${#fields.errors('code')[__0__]}" class="text-danger validated-label"></label>
                    </div>
                    <div class="form-group col-12 col-xl-6 my-2">
                        <label for="name" class="form-label">Name</label>
                        <input id="name" type="text" class="form-control validated-input" th:field="*{name}">
                        <label th:if="${#fields.hasErrors('name')}"  th:text="${#fields.errors('name')[__0__]}" class="text-danger validated-label"></label>
                    </div>
                    <div class="form-group col-12 col-xl-6 my-2">
                        <label for="type" class="form-label">Type</label>
                        <select id="type" class="form-select validated-input" th:field="*{type}">
                            <option value="">-- select type --</option>
                            <option th:each="g:${T(team.ojt7.recruitment.model.entity.ExternalRecruitmentResource.Type).values()}" th:value="${g}" th:text="${g.displayName}"></option>
                        </select>
                        <label th:if="${#fields.hasErrors('type')}"  th:text="${#fields.errors('type')[__0__]}" class="text-danger validated-label"></label>
                    </div>
                    <div class="form-group col-12 col-xl-6 my-2">
                        <label for="websiteLink" class="form-label">Website</label>
                        <input id="websiteLink" type="text" class="form-control validated-input" th:field="*{websiteLink}">
                        <label th:if="${#fields.hasErrors('websiteLink')}"  th:text="${#fields.errors('websiteLink')[__0__]}" class="text-danger validated-label"></label>
                    </div>
                    <div class="form-group col-12 col-xl-6 my-2">
                        <label for="pic" class="form-label">Person In Charge</label>
                        <input id="pic" type="text" class="form-control validated-input" th:field="*{pic}">
                        <label th:if="${#fields.hasErrors('pic')}"  th:text="${#fields.errors('pic')[__0__]}" class="text-danger validated-label"></label>
                    </div>
                    <div class="form-group col-12 col-xl-6 my-2">
                        <label for="contactPerson" class="form-label">Contact Person</label>
                        <input id="contactPerson" type="text" class="form-control validated-input" th:field="*{contactPerson}">
                        <label th:if="${#fields.hasErrors('contactPerson')}"  th:text="${#fields.errors('contactPerson')[__0__]}" class="text-danger validated-label"></label>
                    </div>
                    <div class="form-group col-12 col-xl-6 my-2">
                        <label for="phone" class="form-label">Phone</label>
                        <input id="phone" type="text" class="form-control validated-input" th:field="*{phone}">
                        <label th:if="${#fields.hasErrors('phone')}"  th:text="${#fields.errors('phone')[__0__]}" class="text-danger validated-label"></label>
                    </div>
                    <div class="form-group col-12 col-xl-6 my-2">
                        <label for="email" class="form-label">Email</label>
                        <input id="email" type="text" class="form-control validated-input" th:field="*{email}">
                        <label th:if="${#fields.hasErrors('email')}"  th:text="${#fields.errors('email')[__0__]}" class="text-danger validated-label"></label>
                    </div>
                    <div class="col-12 d-flex flex-row-reverse mt-3">
                        <button type="submit" class="btn btn-success ms-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
                                <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
                              </svg>
                            Save
                        </button>
					    <a th:href="@{/recruitmentresource/external/search}" class="btn btn-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/></svg>
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>