<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}"></title>
<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.bundle.min.js}"></script>
<link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/style.css}" />
<link rel="stylesheet" th:href="@{/resources/fontawesome/css/all.css}">
<style>
body {
	background-color: #e3e8e7;
}
</style>
</head>
<body>
	<div th:replace="nav-bar :: navbar('teams')"></div>
	<div class="container mt-2 py-3">
		<div class="row">
			<div class="offset-sm-1 col-sm-10 col-md-8 offset-md-2">
				<h2 class="fs-4 fw-bold" th:text="${title}"></h2>
			</div>
		</div>
		<form th:action="@{/team/save}" class="mt-2" th:object="${team}"
			method="post">

			<input type="hidden" th:field="*{id}">
			<input type="hidden" th:field="*{deleted}">

			<div class="row">
				<div class="offset-sm-1 col-sm-10 offset-md-2 col-md-4">
					<div class="form-group">
						<label for="teamName" class="form-label">Name</label>
						<input type="text" class="form-control" id="teamName" th:field="*{name}"> <label
							th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
							style="color: red;">Error </label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="offset-sm-1 col-sm-10 offset-md-2 col-md-4">
					<div class="form-group">
						<label for="departmentName" class="form-label">Select Department</label>
							<select class="form-select" id="dropDownList" th:field="*{department}">
								<option th:each="option : ${departmentList}" th:value="${option.id}" th:text="${option.name}"></option>
							</select>
						<label th:if="${#fields.hasErrors('department')}" th:errors="*{department}" style="color: red;">Error </label>
					</div>
				</div>
			</div>
			<div class="row mb-4 mt-3">
				<div class="col-md-3"></div>
				<div class="col-md-4">
					<button type="submit" class="btn btn-success">Save</button>
					<a th:href="@{/team/search}" class="btn btn-secondary">Cancel</a>
				</div>
			</div>
		</form>
	</div>
</body>
</html>