<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${applicant.id == null ? 'Add New Applicant' : 'Edit Applicant'}"></title>
    <script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/dselect.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/custom-validation.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/edit-applicant.js}"></script>
    <script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/validate.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/style.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/dselect.css}" />
</head>
<body>
    <div th:replace="nav-bar :: navbar('applicants')"></div>
    <div class="container-md-fluid container-lg mt-2 py-3">
        <form id="applicantForm" th:action="@{/applicant/save}" class="row" method="post" th:object="${applicant}" enctype="multipart/form-data">
            <div class="offset-0 offset-md-2 col-12 col-md-8 card shadow-lg">
                <div class="card-body">
                    <div class="row">
                        <h2 class="col fs-5 fw-bold" th:text="${applicant.id == null ? 'Add new candidate' : 'Update candidate'}"></h2>
                    </div>
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:field="*{attachedUri}">
                    <input type="hidden" name="contextPage" th:value="${contextPage}">
                    
                    <div class="row">
                        <div class="col-12 col-md-6 form-group my-2">
                            <label for="code" class="form-label">Code</label>
                            <input id="code" type="text" class="form-control" th:field="*{code}">
                            <label th:if="${#fields.hasErrors('code')}" th:errors="*{code}" th:errorclass="text-danger"></label>
                        </div>
                        <div class="col-12 col-md-6 form-group my-2">
                            <label for="name" class="form-label">Name</label>
                            <input id="name" type="text" class="form-control" th:field="*{name}">
                            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="text-danger"></label>
                        </div>
                        <div class="col-12 col-md-6 form-group  my-2">
                            <label for="phone" class="form-label">Phone</label>
                            <input id="phone" type="text" class="form-control"  th:field="*{phone}">
                            <label th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" th:errorclass="text-danger"></label>
                        </div>
                        <div class="col-12 col-md-6 form-group my-2">
                            <label for="email" class="form-label">Email</label>
                            <input id="email" type="text" class="form-control" th:field="*{email}">
                            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="text-danger"></label>
                        </div>
                        <div class="col-12 col-md-6 form-group  my-2">
                            <label for="recruitmentResource" class="form-label">Recruitment Resource</label>
                            <select id="recruitmentResource" class="form-select select-search" th:field="*{recruitmentResource}">
                                <option value="">-- select a resource --</option>
                                <option th:each="rr : ${recruitmentResources}" th:text="${rr.name}" th:value="${rr.id}"></option>
                            </select>
                            <div id="recruitmentResourceHelp"></div>
                            <label th:if="${#fields.hasErrors('recruitmentResource')}" th:errors="*{recruitmentResource}" th:errorclass="text-danger"></label>
                        </div>
                        <div class="col-12 col-md-6 form-group my-2">
                            <label for="vacancy" class="form-label">Vacancy</label>
                            <select class="form-select select-search" id="vacancy" th:field="*{vacancy}">
                                <option value="">-- select a Vacancy --</option>
                                <option th:each="va : ${vacancy}" th:text="${va.code}" th:value="${va.id}"></option>
                            </select>
                            <div id="vacancyHelp"></div>
                            <label th:if="${#fields.hasErrors('vacancy')}" th:errors="*{vacancy}" th:errorclass="text-danger"></label>
                        </div>
                        <div class="col-12 form-group  my-2 ">
                            <label for="position" class="form-label">Position</label>
                            <select id="position" class="form-select" th:field="*{requirePosition}">
                                <option value="">-- select a positoin --</option>
                                <option th:each="requirePosition:${requirePositions}" th:text="${requirePosition.position.name}" th:value="${requirePosition.id}"></option>
                            </select>
                            
                            <label th:if="${#fields.hasErrors('requirePosition')}" th:errors="*{requirePosition}" th:errorclass="text-danger"></label>
                        </div>
                        <div class="col-12 form-group my-2">
                            <label for="cv" class="form-label">CV</label>
                            <div id="cv" class="input-group">
                                <label class="input-group-text" for="cvFileInput">Choose File</label>
                                <input id="attachedFileNameInput" type="hidden" th:value="*{attachedFileName}">
                                <input id="cvFileNameInput" type="text" class="form-control bg-white" name="attachedFileName" th:value="*{attachedFileName}" disabled="disabled">
                                <input id="cvFileInput" class="d-none" name="attachedFile" type="file" accept=".pdf,.docx" onchange="onCvFileChange()">
                            </div>
                            <label th:if="${#fields.hasErrors('attachedUri')}" th:errors="*{attachedUri}" th:errorclass="text-danger"></label>
                        </div>
                        
                        <div class="col-12 form-group my-2">
                            <label for="education" class="form-label">Education</label>
                            <input id="education" type="text" class="form-control" th:field="*{education}">
                            <label th:if="${#fields.hasErrors('education')}" th:errors="*{education}" th:errorclass="text-danger"></label>
                        </div>
                        <div class="col-12 form-group my-2">
                            <label for="experience" class="form-label">Experience</label>
                            <textarea id="experience" class="form-control" th:field="*{experience}"></textarea>
                            <label th:if="${#fields.hasErrors('experience')}" th:errors="*{experience}" th:errorclass="text-danger"></label>
                        </div>
                        <div class="col-12 form-group my-2">
                            <label for="skill" class="form-label">Skills</label>
                            <textarea id="skill" class="form-control" th:field="*{skill}"></textarea>
                            <label th:if="${#fields.hasErrors('skill')}" th:errors="*{skill}" th:errorclass="text-danger"></label>
                        </div>
                        <div class="col-12 form-group my-2">
                            <label for="address" class="form-label">Address</label>
                            <textarea id="address" class="form-control" th:field="*{address}"></textarea>
                        </div>
                        <div class="col-12 mt-3 d-flex flex-row-reverse">
                            <button type="submit" class="btn btn-success ms-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
									<path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
								</svg>
                                Save
                            </button>
                            <a th:href="@{${contextPage}}" class="btn btn-secondary ms-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/></svg>
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</body>
</html>