<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[${department.id == null ? 'Add New Department' : 'Edit Department'}]]</title>
    <script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/validate.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/style.css}" />
</head>
<body>
    <div th:replace="nav-bar :: navbar('departments')"></div>
    <div class="container p-3">
        <div class="row">
            <div class="card shadow-lg col-12 col-lg-6 col-xl-4 mx-auto">
                <form id="departmentForm" th:action="@{/department/save}" class="card-body row" th:object="${department}" method="post">
                    <h2 class="card-title fs-5 fw-bold col-12">[[${department.id == null ? 'Add New Department' : 'Edit Department'}]]</h2>
                    <input type="hidden" th:field="*{id}">
                    <div class="form-group col-12 my-2">
                        <label for="name">Name</label>
                        <input id="name" type="text" class="form-control" th:field="*{name}">
                        <label th:if="${#fields.hasErrors('name')}"  th:text="${#fields.errors('name')[__0__]}" class="text-danger"></label>
                    </div>
                    <div class="col-12 d-flex flex-row-reverse mt-3">
                        <button type="submit" class="btn btn-success ms-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
                                <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
                              </svg>
                            Save
                        </button>
					    <a th:href="@{/department/search}" class="btn btn-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                              </svg>
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    var constraints = {
        name: {
            presence: {message : "^Enter name"},
            length: {
                maximum: 50,
                message: "^Name must be maximum 50 characters"
            }
        }
        
    };


    var form = document.getElementById("departmentForm");
    form.addEventListener("submit", function(event) {
        event.preventDefault();
        let values = validate.collectFormValues(form);
        let validation = validate(values, constraints);
        
        let nameError = document.createElement("label");
        nameError.id = "nameError";
        nameError.classList.add("text-danger");

        if (validation) {
            checkValidation(nameError, "nameError", "name", validation.name);
        } else {
            form.submit();
        }
        
    });

    const checkValidation = (errorLabel, errorLabelId, inputId, validation) => {
        if (validation) {
            let input = document.getElementById(inputId);
            if (!document.getElementById(errorLabelId)) {
                input.parentNode.insertBefore(errorLabel, input.nextSibling);
            }
            document.getElementById(errorLabelId).innerText = validation[0];
        } else {
            removeIfExists(errorLabelId);
        }
    }

    const removeIfExists = (id) => {
        let element = document.getElementById(id);
        if (element) {
            element.parentNode.removeChild(element);
        }
    }
</script>
</html>