<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>External Recruitment Resources</title>
    <script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/style.css}" />
</head>
<body>
    <div th:replace="nav-bar :: navbar('resources')"></div>
    <main class="container p-3">
        <h2 class="fs-5 fw-bold mb-3">External Recruitment Resources</h2>
        <form id="searchForm" class="row" th:action="@{/recruitmentresource/external/search}" th:object="${recruitmentResourceSearch}">
            <div class="col-10 col-md-auto">
                <div class="input-group">
                    <input th:field="*{keyword}" type="text" class="form-control" placeholder="Search">
                    <a th:href="@{'/recruitmentresource/external/search?' + 'size=' + ${recruitmentResourceSearch.size}}" class="btn btn-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-backspace-fill" viewBox="0 0 16 16">
                            <path d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z"/>
                          </svg>
                    </a>
                </div>
            </div>

            <div class="col-2 col-md-auto">
                <a th:href="@{/recruitmentresource/external/edit}" class="btn btn-success form-control">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                      </svg>
                </a>
            </div>
            
        </form>

        <div class="row mt-3">
			<div class="form-group-col col-auto">
				<label for="" class="col-form-label">Showing</label>
			</div>
			<div class="col-auto">
				<select form="searchForm" name="size" th:value="${recruitmentResourcePage.size}" onchange="changePageSize()" class="form-select">
					<option
						th:each="s : ${ {1, 10, 20, 30, 40, 50, 60, 70 , 80 ,90, 100} }"
						th:value="${s}" th:text="${s}" th:selected="${s == recruitmentResourcePage.size}"></option>
				</select>
			</div>

		</div>

        <div class="row mt-3">
            <div class="col-12 my-3" th:each="recru : ${recruitmentResourcePage.content}">
                <div class="card shadow-sm" style="border-radius: 15px;">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <h3 class="mb-3 fs-5 fw-bold">[[${recru.name}]]</h3>
                                <p class="small mb-0">
                                    <a th:if="${recru.websiteLink != null && !recru.websiteLink.isBlank()}" th:href="@{//{link}(link=${recru.websiteLink})}" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-globe-asia-australia" viewBox="0 0 16 16">
                                            <path d="m10.495 6.92 1.278-.619a.483.483 0 0 0 .126-.782c-.252-.244-.682-.139-.932.107-.23.226-.513.373-.816.53l-.102.054c-.338.178-.264.626.1.736a.476.476 0 0 0 .346-.027ZM7.741 9.808V9.78a.413.413 0 1 1 .783.183l-.22.443a.602.602 0 0 1-.12.167l-.193.185a.36.36 0 1 1-.5-.516l.112-.108a.453.453 0 0 0 .138-.326ZM5.672 12.5l.482.233A.386.386 0 1 0 6.32 12h-.416a.702.702 0 0 1-.419-.139l-.277-.206a.302.302 0 1 0-.298.52l.761.325Z"/>
                                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM1.612 10.867l.756-1.288a1 1 0 0 1 1.545-.225l1.074 1.005a.986.986 0 0 0 1.36-.011l.038-.037a.882.882 0 0 0 .26-.755c-.075-.548.37-1.033.92-1.099.728-.086 1.587-.324 1.728-.957.086-.386-.114-.83-.361-1.2-.207-.312 0-.8.374-.8.123 0 .24-.055.318-.15l.393-.474c.196-.237.491-.368.797-.403.554-.064 1.407-.277 1.583-.973.098-.391-.192-.634-.484-.88-.254-.212-.51-.426-.515-.741a6.998 6.998 0 0 1 3.425 7.692 1.015 1.015 0 0 0-.087-.063l-.316-.204a1 1 0 0 0-.977-.06l-.169.082a1 1 0 0 1-.741.051l-1.021-.329A1 1 0 0 0 11.205 9h-.165a1 1 0 0 0-.945.674l-.172.499a1 1 0 0 1-.404.514l-.802.518a1 1 0 0 0-.458.84v.455a1 1 0 0 0 1 1h.257a1 1 0 0 1 .542.16l.762.49a.998.998 0 0 0 .283.126 7.001 7.001 0 0 1-9.49-3.409Z"/>
                                        </svg>
                                    </a>

                                    <span th:if="${recru.websiteLink == null || recru.websiteLink.isBlank()}" class="text-secondary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-globe-asia-australia" viewBox="0 0 16 16">
                                            <path d="m10.495 6.92 1.278-.619a.483.483 0 0 0 .126-.782c-.252-.244-.682-.139-.932.107-.23.226-.513.373-.816.53l-.102.054c-.338.178-.264.626.1.736a.476.476 0 0 0 .346-.027ZM7.741 9.808V9.78a.413.413 0 1 1 .783.183l-.22.443a.602.602 0 0 1-.12.167l-.193.185a.36.36 0 1 1-.5-.516l.112-.108a.453.453 0 0 0 .138-.326ZM5.672 12.5l.482.233A.386.386 0 1 0 6.32 12h-.416a.702.702 0 0 1-.419-.139l-.277-.206a.302.302 0 1 0-.298.52l.761.325Z"/>
                                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM1.612 10.867l.756-1.288a1 1 0 0 1 1.545-.225l1.074 1.005a.986.986 0 0 0 1.36-.011l.038-.037a.882.882 0 0 0 .26-.755c-.075-.548.37-1.033.92-1.099.728-.086 1.587-.324 1.728-.957.086-.386-.114-.83-.361-1.2-.207-.312 0-.8.374-.8.123 0 .24-.055.318-.15l.393-.474c.196-.237.491-.368.797-.403.554-.064 1.407-.277 1.583-.973.098-.391-.192-.634-.484-.88-.254-.212-.51-.426-.515-.741a6.998 6.998 0 0 1 3.425 7.692 1.015 1.015 0 0 0-.087-.063l-.316-.204a1 1 0 0 0-.977-.06l-.169.082a1 1 0 0 1-.741.051l-1.021-.329A1 1 0 0 0 11.205 9h-.165a1 1 0 0 0-.945.674l-.172.499a1 1 0 0 1-.404.514l-.802.518a1 1 0 0 0-.458.84v.455a1 1 0 0 0 1 1h.257a1 1 0 0 1 .542.16l.762.49a.998.998 0 0 0 .283.126 7.001 7.001 0 0 1-9.49-3.409Z"/>
                                        </svg>
                                    </span>
                                    
                                    <span class="mx-2">|</span>
                                    <span>[[${recru.code}]]</span>
                                    <span class="mx-2">|</span>
                                    <span>[[${recru.type.displayName}]]</span>
                                </p>
                            </div>
                            <div class="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                </svg>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                  <li>
                                    <a class="dropdown-item" th:href="@{/recruitmentresource/external/edit(id=${recru.id})}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                          </svg>
                                        Edit
                                    </a>
                                  </li>
                                  <li>
                                    <form th:action="@{/recruitmentresource/external/delete(id=${recru.id})}" method="post">
                                        <button class="dropdown-item">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                            Delete
                                        </button>
                                    </form>
                                  </li>
                                  
                                </ul>
                                
                            </div>
                        </div>
                        
                      
                        <hr class="my-4">

                        <div class="row pt-1">
                            <div class="col-12 col-md-6 col-xl-3">
                              <h6>PIC</h6>
                              <p class="text-muted">[[${recru.pic}]]</p>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                              <h6>Contact Person</h6>
                              <p class="text-muted">[[${recru.contactPerson}]]</p>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                                <h6>Email</h6>
                                <p class="text-muted">[[${recru.email}]]</p>
                              </div>
                              <div class="col-12 col-md-6 col-xl-3">
                                <h6>Phone</h6>
                                <p class="text-muted">[[${recru.phone}]]</p>
                              </div>
                          </div>
                      
                    </div>
                </div>
                
            </div>
        </div>

        <nav aria-label="Pagination" th:if="${recruitmentResourcePage.totalPages > 0}"
			class="mt-3">
			<ul class="pagination justify-content-center bg-white">
				<li class="page-item"
					th:classappend="${recruitmentResourcePage.number + 1 == 1} ? 'disabled'">
					<a th:replace="page-nav :: exteranlRecruitment(1, '<<', 'First Page')"></a>
				</li>
				<li class="page-item font-weight-bold"
					th:classappend="${recruitmentResourcePage.number + 1 == 1} ? 'disabled'">
					<a
					th:replace="page-nav :: exteranlRecruitment(${recruitmentResourcePage.number}, 'Prev', 'Previous Page')"></a>
				</li>
				<li class="page-item disabled"
					th:if="${recruitmentResourcePage.number - 1 > 1}"><a class="page-link"
					href="#">...</a></li>
				<li class="page-item"
					th:classappend="${page == recruitmentResourcePage.number + 1} ? 'active'"
					th:each="page : ${#numbers.sequence(recruitmentResourcePage.number + 1 > 2 ? recruitmentResourcePage.number - 1 : 1, recruitmentResourcePage.number + 3 < recruitmentResourcePage.totalPages ? recruitmentResourcePage.number + 3 : recruitmentResourcePage.totalPages)}">
					<a
					th:replace="page-nav :: exteranlRecruitment(${page}, ${page}, 'Page ' + ${page})"></a>
				</li>
				<li class="page-item disabled"
					th:if="${recruitmentResourcePage.number + 3 < recruitmentResourcePage.totalPages}">
					<a class="page-link" href="#">...</a>
				</li>
				<li class="page-item font-weight-bold"
					th:classappend="${recruitmentResourcePage.number + 1 == recruitmentResourcePage.totalPages} ? 'disabled'">
					<a
					th:replace="page-nav :: exteranlRecruitment(${recruitmentResourcePage.number + 2},'Next', 'Next Page')"></a>
				</li>
				<li class="page-item"
					th:classappend="${recruitmentResourcePage.number + 1 == recruitmentResourcePage.totalPages} ? 'disabled'">
					<a
					th:replace="page-nav :: exteranlRecruitment(${recruitmentResourcePage.totalPages}, '>>', 'Last Page')"></a>
				</li>
			</ul>
		</nav>
        
    </main>
</body>
<script type="text/javascript">
    function changePageSize() {
        $("#pageParamInput").val("1");
        $("#searchForm").submit();
    }
</script>
</html>