<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.bundle.min.js}"></script>
<link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/style.css}" />
<link rel="stylesheet" th:href="@{/resources/fontawesome/css/all.css}">
</head>
<body>
    <div th:replace="nav-bar :: navbar('resources')"></div>
    <main class="container-fluid mt-2 py-3">
        <div class="row">
            <h2 class="col-auto fs-5 fw-bold" th:text="${title}"></h2>
        </div>

        <form id="searchForm" th:action="@{/manager/recruitment/external/search}" class="row mt-4">
			<div class="col-auto">
				<div class="input-group">
					<input class="form-control" type="text" name="keyword" th:value="${param.keyword}" placeholder="Search" />
					<a th:href="@{/manager/recruitment/external/search}" class="input-group-text">
						<i class="fa-solid fa-delete-left"></i>
					</a>
					<button class="btn btn-primary" type="submit">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</div>
			</div>
			
			<div class="col-auto">
				<a th:href="@{/hr/recruitment/external/edit}" class="btn btn-success">
					<i class="fa-solid fa-plus"></i>
					Add New
				</a>
			</div>
        </form>

        <table class="table mt-3">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>PIC</th>
                    <th>Contact Person</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="rr : ${recruitmentResourceList}">
                    <td th:text="${rrStat.index + 1}"></td>
                    <td th:text="${rr.code}"></td>
                    <td th:text="${rr.name}"></td>
                    <td th:text="${rr.pic}"></td>
                    <td th:text="${rr.contactPerson}"></td>
                    <td th:text="${rr.email}"></td>
                    <td th:text="${rr.phone}"></td>
                    <td th:text="${rr.type.displayName}"></td>
                    <td>
                        <a th:href="@{//{link}(link=${rr.websiteLink})}" target="_blank" class="btn btn-primary" th:classappend="${rr.websiteLink == null || rr.websiteLink.isBlank()} ? disabled : ''">
                            <i class="fa-solid fa-globe"></i>
                        </a>
                        <a th:href="@{/hr/recruitment/external/edit(id=${rr.id})}" class="btn btn-success">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a th:href="@{/manager/recruitment/external/detail(id=${rr.id})}" class="btn btn-secondary">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>
                        <form th:action="@{/hr/recruitment/external/delete(id=${rr.id})}" method="post" class="d-inline-block">
                            <button type="submit" class="btn btn-danger">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>