<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/style.css}" />
</head>
<body>
	<div th:replace="nav-bar :: navbar('home')"></div>

	<div class="container py-3">
		<div class="row">
			<div class="col-6 col-lg-3 my-2">
				<div class="card shadow">
					<div class="card-header bg-success text-white font-sm fw-bold">
						Vacancy Openings
					</div>
					<div class="card-body">
						<div class="d-flex py-2 align-items-center">
							<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="text-secondary" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M184 48H328c4.4 0 8 3.6 8 8V96H176V56c0-4.4 3.6-8 8-8zm-56 8V96H64C28.7 96 0 124.7 0 160v96H192 320 512V160c0-35.3-28.7-64-64-64H384V56c0-30.9-25.1-56-56-56H184c-30.9 0-56 25.1-56 56zM512 288H320v32c0 17.7-14.3 32-32 32H224c-17.7 0-32-14.3-32-32V288H0V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V288z"/></svg>
							<div class="fs-2 fw-bold ms-3">
							[[${home.jobOpeningsCount}]]
							</div>
						</div>
						
					</div>
				</div>
			</div>

			<div class="col-6 col-lg-3 my-2">
				<div class="card shadow">
					<div class="card-header bg-warning text-dark font-sm fw-bold">
						Vacanacy Expirings
					</div>
					<div class="card-body">
						<div class="d-flex py-2 align-items-center">
							<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="text-secondary" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M184 48H328c4.4 0 8 3.6 8 8V96H176V56c0-4.4 3.6-8 8-8zm-56 8V96H64C28.7 96 0 124.7 0 160v96H192 352h8.2c32.3-39.1 81.1-64 135.8-64c5.4 0 10.7 .2 16 .7V160c0-35.3-28.7-64-64-64H384V56c0-30.9-25.1-56-56-56H184c-30.9 0-56 25.1-56 56zM320 352H224c-17.7 0-32-14.3-32-32V288H0V416c0 35.3 28.7 64 64 64H360.2C335.1 449.6 320 410.5 320 368c0-5.4 .2-10.7 .7-16l-.7 0zm320 16a144 144 0 1 0 -288 0 144 144 0 1 0 288 0zM496 288c8.8 0 16 7.2 16 16v48h32c8.8 0 16 7.2 16 16s-7.2 16-16 16H496c-8.8 0-16-7.2-16-16V304c0-8.8 7.2-16 16-16z"/></svg>
							<div class="fs-2 fw-bold ms-3">
								[[${home.jobExpiringsCount}]]
							</div>
						</div>
						
					</div>
				</div>
			</div>

			<div class="col-6 col-lg-3 my-2">
				<div class="card shadow">
					<div class="card-header bg-info text-dark font-sm fw-bold">
						Interviews
					</div>
					<div class="card-body">
						<div class="d-flex py-2 align-items-center">
							<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="text-secondary" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M160 64c0-35.3 28.7-64 64-64H576c35.3 0 64 28.7 64 64V352c0 35.3-28.7 64-64 64H336.8c-11.8-25.5-29.9-47.5-52.4-64H384V320c0-17.7 14.3-32 32-32h64c17.7 0 32 14.3 32 32v32h64V64L224 64v49.1C205.2 102.2 183.3 96 160 96V64zm0 64a96 96 0 1 1 0 192 96 96 0 1 1 0-192zM133.3 352h53.3C260.3 352 320 411.7 320 485.3c0 14.7-11.9 26.7-26.7 26.7H26.7C11.9 512 0 500.1 0 485.3C0 411.7 59.7 352 133.3 352z"/></svg>
							<div class="fs-2 fw-bold ms-3">
								[[${home.notStartedInterviewsCount}]]
							</div>
						</div>
						
					</div>
				</div>
			</div>

			<div class="col-6 col-lg-3 my-2">
				<div class="card shadow">
					<div class="card-header bg-danger text-white font-sm fw-bold">
						New Candidates
					</div>
					<div class="card-body">
						<div class="d-flex py-2 align-items-center">
							<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-square text-secondary" viewBox="0 0 16 16">
								<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
								<path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
							</svg>
							<div class="fs-2 fw-bold ms-3">
								[[${home.newApplicantsCount}]]
							</div>
						</div>
						
					</div>
				</div>
			</div>

			
		</div>

		<div class="d-none">
			<div th:each="newIntByDate : ${home.newInterviewsCountByDate}">
				<span th:id="${'newInterviewByDate' + newIntByDate.key}">[[${newIntByDate.value}]]</span>
			</div>

			<div th:each="pastIntByDate : ${home.pastInterviewsCountByDate}">
				<span th:id="${'pastInterviewByDate' + pastIntByDate.key}">[[${pastIntByDate.value}]]</span>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3 class="fs-5 fw-bold d-inline-block" id="monthAndYear"></h3>
						<span class="badge bg-success ms-3">
							
						</span>
						Not Started Yet
						<span class="badge bg-secondary ms-3">
							
						</span>
						Finished
					</div>
					
					<table class="table table-bordered table-responsive-sm" id="calendar">
						<thead>
						<tr>
							<th>Sun</th>
							<th>Mon</th>
							<th>Tue</th>
							<th>Wed</th>
							<th>Thu</th>
							<th>Fri</th>
							<th>Sat</th>
						</tr>
						</thead>
			
						<tbody id="calendar-body">
			
						</tbody>
					</table>
					
					<br/>
					<form class="d-none">
						<label class="lead mr-2 ml-2" for="month">Jump To: </label>
						<select class="form-control col-sm-4" name="month" id="month" onchange="jump()">
							<option value=0>Jan</option>
							<option value=1>Feb</option>
							<option value=2>Mar</option>
							<option value=3>Apr</option>
							<option value=4>May</option>
							<option value=5>Jun</option>
							<option value=6>Jul</option>
							<option value=7>Aug</option>
							<option value=8>Sep</option>
							<option value=9>Oct</option>
							<option value=10>Nov</option>
							<option value=11>Dec</option>
						</select>
			
			
						<label for="year"></label><select class="form-control col-sm-4" name="year" id="year" onchange="jump()">
						<option value=1990>1990</option>
						<option value=1991>1991</option>
						<option value=1992>1992</option>
						<option value=1993>1993</option>
						<option value=1994>1994</option>
						<option value=1995>1995</option>
						<option value=1996>1996</option>
						<option value=1997>1997</option>
						<option value=1998>1998</option>
						<option value=1999>1999</option>
						<option value=2000>2000</option>
						<option value=2001>2001</option>
						<option value=2002>2002</option>
						<option value=2003>2003</option>
						<option value=2004>2004</option>
						<option value=2005>2005</option>
						<option value=2006>2006</option>
						<option value=2007>2007</option>
						<option value=2008>2008</option>
						<option value=2009>2009</option>
						<option value=2010>2010</option>
						<option value=2011>2011</option>
						<option value=2012>2012</option>
						<option value=2013>2013</option>
						<option value=2014>2014</option>
						<option value=2015>2015</option>
						<option value=2016>2016</option>
						<option value=2017>2017</option>
						<option value=2018>2018</option>
						<option value=2019>2019</option>
						<option value=2020>2020</option>
						<option value=2021>2021</option>
						<option value=2022>2022</option>
						<option value=2023>2023</option>
						<option value=2024>2024</option>
						<option value=2025>2025</option>
						<option value=2026>2026</option>
						<option value=2027>2027</option>
						<option value=2028>2028</option>
						<option value=2029>2029</option>
						<option value=2030>2030</option>
					</select></form>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/resources/js/calendar.js}"></script>
	<script th:src="@{/resources/js/popper.js}"></script>
</body>
</html>