<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<nav class="d-flex justify-content-between align-items-center" th:fragment="navbar(menu)">
		<div class="p-2 ms-2">
			<img class="logo" th:src="@{/resources/images/dat-logo.png}" alt="">
		</div>
		
		<ul class="nav-item-wrapper fw-bold">
			<li class="nav-item" th:classappend="${menu == 'home' ? 'active' : ''}">
				<a th:href="@{/}" class="nav-link">
					<i class="fa-solid fa-house me-2"></i>
					Home
				</a>
			</li>
			<li class="nav-item" th:classappend="${menu == 'users' ? 'active' : ''}">
				<a th:href="@{/admin/user/search}" class="nav-link">
					<i class="fa-solid fa-user me-2"></i>
					Users
					<span sec:authorize="hasAuthority('ADMIN')" class="badge bg-danger ms-1" th:if="${userRequestCount > 0}" th:text="${userRequestCount}"></span>
				</a>
			</li>
			<li class="nav-item" th:classappend="${menu == 'departments' ? 'active' : ''}">
				<a th:href="@{/admin/department/search}" class="nav-link">
					<i class="fa-solid fa-building me-2"></i>
					Departments
				</a>
			</li>
			
			<li class="nav-item" th:classappend="${menu == 'teams' ? 'active' : ''}">
				<a th:href="@{/admin/team/search}" class="nav-link">
					<i class="fa-solid fa-building me-2"></i>
					Teams
				</a>
			</li>

			<li class="nav-item" th:classappend="${menu == 'resources' ? 'active' : ''}">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fa-solid fa-hand-holding-hand me-2"></i>
					Resources
				</a>
			
				<ul class="dropdown-menu dropdown-menu-dark">
					<li>
						<a class="dropdown-item" th:href="@{/manager/recruitment/direct/search}">
							<i class="fa-solid fa-people-arrows me-2"></i>
							Direct
						</a>
					</li>
					<li>
						<a class="dropdown-item" th:href="@{/manager/recruitment/external/search}">
							<i class="fa-solid fa-handshake-simple me-2"></i>
							External
						</a>
					</li>
				</ul>
				
			</li>

			<li class="nav-item" th:classappend="${menu == 'positions' ? 'active' : ''}">
				<a th:href="@{/manager/position/search}" class="nav-link">
					<i class="fa-solid fa-medal me-2"></i>
					Position
				</a>
			</li>

			<li class="nav-item" th:classappend="${menu == 'vacancies' ? 'active' : ''}">
				<a th:href="@{/manager/vacancy/search}" class="nav-link">
					<i class="fa-solid fa-image-portrait me-2"></i>
					Vacancies
				</a>
			</li>

			<li class="nav-item" th:classappend="${menu == 'applicants' ? 'active' : ''}">
				<a th:href="@{/manager/applicant/search}" class="nav-link">
					<i class="fa-solid fa-address-card me-2"></i>
					Applicants
				</a>
			</li>
			<li class="nav-item" th:classappend="${menu == 'students' ? 'active' : ''}">
				<a th:href="@{/user/student/search}" class="nav-link">
					<i class="fa-solid fa-file-signature me-2"></i>
					Recruitment
				</a>
			</li>
			<li class="nav-item" th:classappend="${menu == 'students' ? 'active' : ''}">
				<a th:href="@{/user/student/search}" class="nav-link">
					<i class="fa-solid fa-chart-simple me-2"></i>
					Reports
				</a>
			</li>

			<li class="nav-item"  th:classappend="${menu == 'profile' ? 'active' : ''}">

				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fa-solid fa-circle-user"></i>
				</a>
			
				<ul class="dropdown-menu dropdown-menu-dark">
					<li>
						<a class="dropdown-item" th:href="@{/user/profile}">
							<i class="fa-solid fa-user me-2"></i>
							Profile
						</a>
					</li>
					<li>
						<a class="dropdown-item" th:href="@{/logout}">
							<i class="fa-solid fa-right-from-bracket me-2"></i>
							Logout
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</body>
</html>
