<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<nav class="d-flex justify-content-between align-items-center" th:fragment="navbar(menu)">
		<div class="fs-4 fw-bold text-white p-2 ms-2">
			DAT
		</div>
		
		<ul class="nav-item-wrapper fw-bold">
			<li class="nav-item" th:classappend="${menu == 'home' ? 'active' : ''}">
				<a th:href="@{/}" class="nav-link">
					<i class="fa-solid fa-house me-2"></i>
					Home
				</a>
			</li>
			<li class="nav-item" th:classappend="${menu == 'users' ? 'active' : ''}">
				<a th:href="@{/admin/user/search}" class="nav-link">
					<i class="fa-solid fa-user me-2"></i>
					Users
					<span sec:authorize="hasAuthority('ADMIN')" class="badge bg-danger ms-1" th:if="${userRequestCount > 0}" th:text="${userRequestCount}"></span>
				</a>
			</li>
			<li class="nav-item" th:classappend="${menu == 'courses' ? 'active' : ''}">
				<a th:href="@{/user/course/search}" class="nav-link">
					<i class="fa-solid fa-building me-2"></i>
					Departments
				</a>
			</li>
			<li class="nav-item" th:classappend="${menu == 'students' ? 'active' : ''}">
				<a th:href="@{/user/student/search}" class="nav-link">
					<i class="fa-solid fa-hand-holding-hand me-2"></i>
					Resources
				</a>
			</li>
			<li class="nav-item" th:classappend="${menu == 'students' ? 'active' : ''}">
				<a th:href="@{/user/student/search}" class="nav-link">
					<i class="fa-solid fa-address-card me-2"></i>
					CV
				</a>
			</li>
			<li class="nav-item" th:classappend="${menu == 'students' ? 'active' : ''}">
				<a th:href="@{/user/student/search}" class="nav-link">
					<i class="fa-solid fa-file-signature me-2"></i>
					Recruitment
				</a>
			</li>
			<li class="nav-item" th:classappend="${menu == 'students' ? 'active' : ''}">
				<a th:href="@{/user/student/search}" class="nav-link">
					<i class="fa-solid fa-chart-simple me-2"></i>
					Reports
				</a>
			</li>
			<li class="nav-item"  th:classappend="${menu == 'profile' ? 'active' : ''}">
				<a class="nav-link" th:href="@{/admin/user/profile}">
					<i class="fa-solid fa-circle-user"></i>
				</a>
			</li>
		</ul>
	</nav>
</body>
</html>
