<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Team Management</title>
<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/resources/bootstrap/js/bootstrap.bundle.min.js}"></script>
<link rel="stylesheet"
	th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/style.css}" />
<link rel="stylesheet" th:href="@{/resources/fontawesome/css/all.css}">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
	<div th:replace="nav-bar :: navbar('teams')"></div>
	<div class="container bg-white mt-2 pt-3">
		<form id="searchForm" class="row g-3 mt-3" action="#"
			th:action="@{/team/search}">
			<input id="pageParamInput" type="hidden" name="page" />
			<div class="col-auto">
				<input name="keyword" th:value="${param.keyword}" type="text"
					class="form-control">
			</div>

			<div class="col-auto">
				<a th:href="@{/team/search}" type="reset" class="btn btn-primary ">
					<span class="material-symbols-outlined"> restart_alt </span>
				</a>

			</div>
			<div class="col-auto">

				<button type="submit" class="btn btn-info ">
					<span class="material-symbols-outlined">search</span>
				</button>
			</div>
			<div sec:authorize="hasAnyAuthority('ADMIN', 'DEPARTMENT_HEAD')"
				class="col-auto">
				<a th:href="@{/team/edit}" class="btn btn-secondary"> <span
					class="material-symbols-outlined">add_circle</span>
				</a>
			</div>
			<div class="row mt-3">
				<div class="form-group-col col-auto">
					<label for="" class="col-form-label">Showing</label>
				</div>
				<div class="col-auto">
					<select form="searchForm" name="size" th:value="${teamPage.size}"
						onchange="changePageSize()" class="form-select">
						<option
							th:each="s : ${ {1, 10, 20, 30, 40, 50, 60, 70 , 80 ,90, 100} }"
							th:value="${s}" th:text="${s}"
							th:selected="${s == teamPage.size}"></option>
					</select>
				</div>
				<div class="col-auto">
					<p class="col-form-label">team per page</p>
				</div>

			</div>
		</form>
		<table class="table table-hover">
			<thead>
				<tr>

					<th>Name</th>
					<th>Department</th>
					<th sec:authorize="hasAnyAuthority('ADMIN', 'DEPARTMENT_HEAD')">Action</th>

				</tr>
			</thead>
			<tbody>

				<tr th:each="team : ${teamPage.content}">
					<td class="align-middle"
						th:text="${((teamPage.number) * teamPage.size) + teamStat.index + 1}"></td>
					<td th:text="${team.name}"></td>
					<td th:text="${team.department.name}"></td>
					<td sec:authorize="hasAnyAuthority('ADMIN', 'DEPARTMENT_HEAD')">
						<a th:href="@{/team/edit(id=${team.id})}" class="btn btn-warning ">
							<span class="material-symbols-outlined"> edit </span>
					</a>
						<button class="btn btn-danger"
							th:onclick="showDialog([[${dept.id}]])">Del</button>
					</td>

					<div th:id="modal+${team.id}" class="modal">


						<div class="modal-content">
							<span class="close delete"
								th:onclick="closeDialog([[${team.id}]])">&times;</span>
							<p>Are You Sure Want to Delete</p>
							<span th:text="${team.department.name}"> </span>?
							<center>
								<span> <a class="btn btn-info "
									th:onclick="closeDialog([[${team.id}]])">No </a>
									<form th:action="@{/team/delete(id=${team.id})}" method="post"
										class="d-inline-block">
										<button type="submit" class="btn btn-danger">Yes</button>
									</form>
								</span>
							</center>
						</div>


					</div>
				</tr>
			</tbody>
		</table>
	</div>
	<nav aria-label="Pagination" th:if="${teamPage.totalPages > 0}"
		class="mt-3">
		<ul class="pagination justify-content-center bg-white">
			<li class="page-item"
				th:classappend="${teamPage.number + 1 == 1} ? 'disabled'"><a
				th:replace="page-nav :: team(1, '<<', 'First Page')"></a></li>
			<li class="page-item font-weight-bold"
				th:classappend="${teamPage.number + 1 == 1} ? 'disabled'"><a
				th:replace="page-nav :: team(${teamPage.number}, 'Prev', 'Previous Page')"></a>
			</li>
			<li class="page-item disabled" th:if="${teamPage.number - 1 > 1}">
				<a class="page-link" href="#">...</a>
			</li>
			<li class="page-item"
				th:classappend="${page == teamPage.number + 1} ? 'active'"
				th:each="page : ${#numbers.sequence(teamPage.number + 1 > 2 ? teamPage.number - 1 : 1, teamPage.number + 3 < teamPage.totalPages ? teamPage.number + 3 : teamPage.totalPages)}">
				<a
				th:replace="page-nav :: team(${page}, ${page}, 'Page ' + ${page})"></a>
			</li>
			<li class="page-item disabled"
				th:if="${teamPage.number + 3 < teamPage.totalPages}"><a
				class="page-link" href="#">...</a></li>
			<li class="page-item font-weight-bold"
				th:classappend="${teamPage.number + 1 == teamPage.totalPages} ? 'disabled'">
				<a
				th:replace="page-nav :: team(${teamPage.number + 2},'Next', 'Next Page')"></a>
			</li>
			<li class="page-item"
				th:classappend="${teamPage.number + 1 == teamPage.totalPages} ? 'disabled'">
				<a
				th:replace="page-nav :: team(${teamPage.totalPages}, '>>', 'Last Page')"></a>
			</li>
		</ul>
	</nav>
	<script type="text/javascript">
		function changePageSize() {
			$("#pageParamInput").val("1");
			$("#searchForm").submit();
		}
	</script>
	<script type="text/javascript" th:src="@{/resources/js/dialogBox.js}"></script>
</body>
</html>

