<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Detail</title>
<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.bundle.min.js}"></script>
<link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/style.css}" />
<link rel="stylesheet" th:href="@{/resources/fontawesome/css/all.css}">

<style>
table.center {
  margin-left: auto; 
  margin-right: auto;
}
</style>
</head>
<body>

	<div th:replace="nav-bar :: navbar('users')"></div>



		<div class="container mt-3 table-responsive" style="text-align:center">
			<h3>User Detail Information</h3>
			<table class="table center" style="width: 300px;text-align:left">
				<tbody>
					<tr>
						<td>Code :</td>
						<td th:text="${list.code}"></td>
					</tr>


					<tr>
						<td>Name :</td>
						<td th:text="${list.name}"></td>
					</tr>

					<tr>
						<td>Email :</td>
						<td th:text="${list.email}"></td>
					</tr>

					<tr>
						<td>Phone :</td>
						<td th:text="${list.phone}"></td>
					</tr>

					<tr>
						<td>Role :</td>
						<td th:text="${list.role.displayName}"></td>
					</tr>

					<tr>
						<td>Gender :</td>
						<td th:text="${list.gender.displayName}"></td>
					</tr>

					<tr>

						<td><a th:href="@{/user/search}"
							class="btn btn-outline-warning d-grid btn-block" style="width:300px">Back</a></td>

					</tr>

				</tbody>

			</table>
		</div>
	


</body>
</html>