<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Vacancies</title>
<link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
<script th:src="@{/resources/bootstrap/js/bootstrap.bundle.min.js}"></script>
<link rel="stylesheet" th:href="@{/resources/css/style.css}" />
<link rel="stylesheet" th:href="@{/resources/fontawesome/css/all.css}">
</head>
<body>

	<div th:replace="nav-bar :: navbar('vacancies')"></div>

	<main class="container-fluid mt-2 py-3">
        <div class="row">
            <h2 class="col-auto fs-5 fw-bold">Vacancies</h2>
        </div>

        <form id="searchForm" th:action="@{/manager/vacancy/search}" class="row mt-4">
			<div class="col-auto">
				<div class="input-group">
					<input class="form-control" type="text" name="keyword" th:value="${param.keyword}" placeholder="Search" />
					<a th:href="@{/manager/vacancy/search}" class="input-group-text">
						<i class="fa-solid fa-delete-left"></i>
					</a>
					<button class="btn btn-primary" type="submit">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</div>
			</div>

			<div class="col-auto">
				<select name="status" class="form-select">
					<option value="1">All</option>
					<option value="1">Opening</option>
					<option value="1">Closed</option>
					<option value="1">Exipred</option>
				</select>
			</div>
			
			<div class="col-auto">
				<input type="date" class="form-control">
			</div>
			
			<div class="col-auto">
				<input type="date" class="form-control">
			</div>
			
			<div class="col-auto">
				<a th:href="@{/dh/test/vacancy/edit}" class="btn btn-success">
					<i class="fa-solid fa-plus"></i>
					Add New
				</a>
			</div>
        </form>

        <table class="table mt-3" th:each="vacancy : ${vacancies}">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Code</th>
                    <th>Post Date</th>
                    <th>Due Date</th>
					<th>Department</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
					<td rowspan="3" class="align-middle" th:text="${vacancyStat.index + 1}"></td>
					<td th:text="${vacancy.code}"></td>
					<td th:text="${vacancy.createdDate}"></td>
					<td th:text="${vacancy.dueDate}"></td>
					<td th:text="${vacancy.department.name}"></td>
					<td th:text="${vacancy.status.displayName}"></td>
					<td>
                        <a th:href="@{/dh/test/vacancy/edit(id=${vacancy.id})}" class="btn btn-success">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a th:href="@{/}" class="btn btn-secondary">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>
                        <form th:action="@{/}" method="post" class="d-inline-block">
                            <button type="submit" class="btn btn-danger">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </form>
                    </td>
				</tr>
				<tr>
					<td colspan="6">
						<table class="table">
							<thead>
								<tr>
									<th>Position</th>
									<th>Post</th>
									<th>Team</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="requirePosition : ${vacancy.requirePositions}">
									<td th:text="${requirePosition.position.name + (requirePosition.foc ? ' (FOC)' : '')}"></td>
									<td th:text="${requirePosition.count}"></td>
									<td th:text="${requirePosition.team.name}"></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>

				<tr>
					<td colspan="6" th:text="${vacancy.comment}"></td>
				</tr>
				
            </tbody>
        </table>
    </main>
</body>
</html>