<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Vacancies</title>
<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.bundle.min.js}"></script>
<link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/style.css}" />
<link rel="stylesheet" th:href="@{/resources/fontawesome/css/all.css}">
</head>
<body>

	<div th:replace="nav-bar :: navbar('vacancies')"></div>

	<main class="container-fluid mt-2 py-3">
        <div class="row">
            <h2 class="col-auto fs-5 fw-bold">Vacancies</h2>
        </div>

        <form id="searchForm" th:action="@{/vacancy/search}" th:object="${vacancySearch}" class="row mt-4">
			<div class="col-auto">
				<input id="pageParamInput" type="hidden" th:field="*{page}"/>
				<div class="input-group">
					<input class="form-control" type="text" th:field="*{keyword}" placeholder="Search" />
					<a th:href="@{'/vacancy/search?' + 'size=' + ${vacancySearch.size} + ${vacancySearch.status != null && vacancySearch.status != '' ? '&status=' + vacancySearch.status : ''} + ${vacancySearch.dateFrom != null && vacancySearch.dateFrom != '' ? '&dateFrom=' + vacancySearch.dateFrom : ''} + ${vacancySearch.dateTo != null && vacancySearch.dateTo != '' ? '&dateTo=' + vacancySearch.dateTo : ''}}" class="input-group-text">
						<i class="fa-solid fa-delete-left"></i>
					</a>
					<button class="btn btn-primary" type="submit">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</div>
			</div>

			<div class="col-auto">
				<select th:field="*{status}" onchange="changePageSize()" class="form-select">
					<option value="">All</option>
					<option th:text="${T(team.ojt7.recruitment.model.entity.Vacancy.Status).OPENING.displayName}" th:value="${T(team.ojt7.recruitment.model.entity.Vacancy.Status).OPENING}"></option>
					<option th:text="${T(team.ojt7.recruitment.model.entity.Vacancy.Status).CLOSED.displayName}" th:value="${T(team.ojt7.recruitment.model.entity.Vacancy.Status).CLOSED}"></option>
					<option th:text="${T(team.ojt7.recruitment.model.entity.Vacancy.Status).EXPIRED.displayName}" th:value="${T(team.ojt7.recruitment.model.entity.Vacancy.Status).EXPIRED}"></option>
				</select>
			</div>
			
			<div class="col-auto">
				<input type="date" th:field="*{dateFrom}" onchange="changePageSize()" class="form-control">
			</div>
			
			<div class="col-auto">
				<input type="date" th:field="*{dateTo}" onchange="changePageSize()" class="form-control">
			</div>
			
			<div class="col-auto">
				<a th:href="@{/vacancy/edit}" class="btn btn-success">
					<i class="fa-solid fa-plus"></i>
					Add New
				</a>
			</div>
        </form>

		<div class="row mt-3">
			<div class="form-group-col col-auto">
				<label for="" class="col-form-label">Showing</label>
			</div>
			<div class="col-auto">
				<select form="searchForm" name="size" th:value="${vacancyPage.size}" onchange="changePageSize()" class="form-select">
					<option th:each="s : ${ {1, 10, 20, 30, 40, 50, 60, 70 , 80 ,90, 100} }" th:value="${s}" th:text="${s}" th:selected="${s == vacancyPage.size}"></option>
				</select>
			</div>
			<div class="col-auto">
				<p class="col-form-label">items per page</p>
			</div>
			
		</div>

        <table class="table mt-3" th:each="vacancy : ${vacancyPage.content}">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Code</th>
                    <th>Post Date</th>
                    <th>Due Date</th>
					<th>Department</th>
                    <th>Status</th>
					<th>Post By</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
					<td rowspan="3" class="align-middle" th:text="${((vacancyPage.number) * vacancyPage.size) + vacancyStat.index + 1}"></td>
					<td th:text="${vacancy.code}"></td>
					<td th:text="${vacancy.createdDate}"></td>
					<td th:text="${vacancy.dueDate}"></td>
					<td th:text="${vacancy.department.name}"></td>
					<td>
						<label th:text="${vacancy.status.displayName}"></label>
						<p th:if="${vacancy.expired}" class="text-danger">(Expired)</p>
					</td>
					<td th:text="${vacancy.createdUser.name}"></td>
					<td>
                        <a th:href="@{/vacancy/edit(id=${vacancy.id})}" class="btn btn-success">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <form th:action="@{/vacancy/delete(id=${vacancy.id})}" method="post" class="d-inline-block">
                            <button type="submit" class="btn btn-danger">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </form>
                    </td>
				</tr>
				<tr>
					<td colspan="7">
						<table class="table">
							<thead>
								<tr>
									<th>Position</th>
									<th>Post</th>
									<th>Team</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="requirePosition : ${vacancy.requirePositions}">
									<td th:text="${requirePosition.position.name + (requirePosition.foc ? ' (FOC)' : '')}"></td>
									<td th:text="${requirePosition.count}"></td>
									<td th:text="${requirePosition.team.name}"></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>

				<tr>
					<td colspan="7" th:text="${vacancy.comment}"></td>
				</tr>
				
            </tbody>
        </table>
		<nav aria-label="Pagination" th:if="${vacancyPage.totalPages > 0}" class="mt-3">
			<ul class="pagination justify-content-center bg-white">
			  <li class="page-item" th:classappend="${vacancyPage.number + 1 == 1} ? 'disabled'">
				<a th:replace="page-nav :: vacancy(1, '<<', 'First Page')"></a>
			  </li>
			  <li class="page-item font-weight-bold" th:classappend="${vacancyPage.number + 1 == 1} ? 'disabled'">
				<a th:replace="page-nav :: vacancy(${vacancyPage.number}, 'Prev', 'Previous Page')"></a>
			  </li>
			  <li class="page-item disabled" th:if="${vacancyPage.number - 1 > 1}">
				<a class="page-link" href="#">...</a>
			  </li>
			  <li class="page-item" th:classappend="${page == vacancyPage.number + 1} ? 'active'"
				th:each="page : ${#numbers.sequence(vacancyPage.number + 1 > 2 ? vacancyPage.number - 1 : 1, vacancyPage.number + 3 < vacancyPage.totalPages ? vacancyPage.number + 3 : vacancyPage.totalPages)}">
				<a th:replace="page-nav :: vacancy(${page}, ${page}, 'Page ' + ${page})"></a>
			  </li>
			  <li class="page-item disabled" th:if="${vacancyPage.number + 3 < vacancyPage.totalPages}">
				<a class="page-link" href="#">...</a>
			  </li>
			  <li class="page-item font-weight-bold" th:classappend="${vacancyPage.number + 1 == vacancyPage.totalPages} ? 'disabled'">
				<a th:replace="page-nav :: vacancy(${vacancyPage.number + 2},'Next', 'Next Page')"></a>
			  </li>
			  <li class="page-item" th:classappend="${vacancyPage.number + 1 == vacancyPage.totalPages} ? 'disabled'">
				<a th:replace="page-nav :: vacancy(${vacancyPage.totalPages}, '>>', 'Last Page')"></a>
			  </li>
			</ul>
		  </nav>
    </main>
	<script type="text/javascript">
	  
		function changePageSize() {
			$("#pageParamInput").val("1");
		  	$("#searchForm").submit();
		}
	</script>
</body>
</html>